@using Zeta.AgentosCRM.Authorization
@using Zeta.AgentosCRM.Web.Areas.AppAreaName.Models.Clients
@using Zeta.AgentosCRM.Web.Areas.AppAreaName.Startup

@section Styles
	{
	<link rel="stylesheet" abp-href="/view-resources/Areas/AppAreaName/Views/Common/_PartialCardView.css" asp-append-version="true" />
   }
@section Scripts
{
    <script abp-src="/view-resources/Areas/AppAreaName/Views/Clients/Index.js" asp-append-version="true"></script>
}



                <abp-page-subheader title='@L("Clients")' description='@L("ClientsHeaderInfo")'>
                     <button id="ExportToExcelButton" class="btn btn-outline btn-sm btn-white text-black rounded-0 me-1"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>
            
                     @if (IsGranted(AppPermissions.Pages_Clients_Create))
                     {
        @* <button id="CreateNewClientButton" class="btn btn-white btn-sm btn-outline text-black rounded-0"><i class="fa fa-plus"></i> @L("CreateNewCient")</button> *@

                         <a href="\AppAreaName\Clients\ClientCreateDetail" class="btn btn-white btn-sm btn-outline text-black rounded-0"><i class="fa fa-plus"></i> @L("CreateNewClient")</a>                
                     }
                </abp-page-subheader>
            
<div class="@(await GetContainerClass())">   
    <div class="card card-custom gutter-b">
        <div class="card-body">
            <div class="form">
                <div class="row align-items-center mb-4">
                    <div class="col-xl-12">                        
                        
                        

            
                    </div>
                </div>
			</div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">
						
					</div>


							
            <div class="row align-items-center">
                <table id="ClientsTable" class="table align-middle  fs-8 gy-2 dataTable no-footer">
                    <thead class="thead gy-7">
                        <tr>
							   <th class="align-middle" style="padding:2px"></th>
                                <th><input type="checkbox"></th>
            <th >@L("Name")</th>
            <th >@L("Rating")</th>
            <th >@L("AddedFrom")</th>
            <th >@L("Assignee")</th>
            <th>@L("Phone")</th>
            <th >@L("InternalId")</th>
            <th>@L("Passport")</th>
            <th>@L("City")</th>
            <th>@L("ClientPortal")</th>
            <th>@L("State")</th>
            <th></th>
                            @* 
                            <th>@L("Actions")</th>
								<th>@L("FirstName")</th>
								<th>@L("LastName")</th>
								<th>@L("Email")</th>
								<th>@L("PhoneNo")</th>
								<th>@L("DateofBirth")</th>
								<th>@L("ContactPreferences")</th>
								<th>@L("University")</th>
								<th>@L("Street")</th>
								<th>@L("City")</th>
								<th>@L("State")</th>
								<th>@L("ZipCode")</th>
								<th>@L("PreferedIntake")</th>
								<th>@L("PassportNo")</th>
								<th>@L("VisaType")</th>
								<th>@L("VisaExpiryDate")</th>
								<th>@L("Rating")</th>
								<th>@L("ClientPortal")</th>
								<th>@L("CountryDisplayProperty")</th>
								<th>@L("UserName")</th>
								<th>@L("BinaryObjectDescription")</th>
								<th>@L("DegreeLevelName")</th>
								<th>@L("SubjectAreaName")</th>
								<th>@L("LeadSourceName")</th>
								<th>@L("CountryName")</th>
								<th>@L("CountryName")</th>     *@                        
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
  </div>
