@using System.Globalization
@using Zeta.AgentosCRM.Web.Areas.AppAreaName.Models.Common.Modals
@using Abp.Extensions
@await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel( L("CreateNewIntrestedService")))

@section Styles
    {
    <link rel="stylesheet" abp-href="/view-resources/Areas/AppAreaName/Views/_Bundles/demo-ui-components.css" asp-append-version="true" />
}

@section Scripts
    {
    <script abp-src="/view-resources/Areas/AppAreaName/Views/_Bundles/demo-ui-components.js" asp-append-version="true"></script>
}
<div class="modal-body">
    <div id="InformationsForm">
        <form name="IntrestedServiceInformationsForm" role="form" novalidate class="form-validation">

            <input type="hidden" name="id" value="1" />


            <div class="my-3">
                <label class="form-label" for="Application_Abbrivation">@L("Select WorkFlow")</label>
                <input class="form-control form-control-sm" id="Application_Abbrivation" value="Australian Education with VISA" type="text" name="abbrivation" required maxlength="@Zeta.AgentosCRM.CRMSetup.DegreeLevelConsts.MaxAbbrivationLength" minlength="@Zeta.AgentosCRM.CRMSetup.DegreeLevelConsts.MinAbbrivationLength" />
            </div>

            <div class="my-3">
                <label class="form-label" for="Application_Name">@L("Select Partner")</label>
                <input class="form-control form-control-sm" id="Application_Name" value="Britts College" type="text" name="name" required maxlength="@Zeta.AgentosCRM.CRMSetup.DegreeLevelConsts.MaxNameLength" minlength="@Zeta.AgentosCRM.CRMSetup.DegreeLevelConsts.MinNameLength" />
            </div>
            <div class="my-3">
                <label class="form-label" for="Application_Name">@L("Select Product")</label>
                <input class="form-control form-control-sm" id="Application_Name" value="Advance diploma of business" type="text" name="name" required maxlength="@Zeta.AgentosCRM.CRMSetup.DegreeLevelConsts.MaxNameLength" minlength="@Zeta.AgentosCRM.CRMSetup.DegreeLevelConsts.MinNameLength" />
            </div>
            <div class="my-3">
                <label class="form-label" for="Application_Name">@L("Select Branch")</label>
                <input class="form-control form-control-sm" id="Application_Name" value="Head Office" type="text" name="name" required maxlength="@Zeta.AgentosCRM.CRMSetup.DegreeLevelConsts.MaxNameLength" minlength="@Zeta.AgentosCRM.CRMSetup.DegreeLevelConsts.MinNameLength" />
            </div>
            <div class="row col-12">
              <form role="form" class="form">

        <div class="mb-5">
                        <label for="SampleDatePicker" class="form-label">@L("Expected Start Date")</label>
            <div id="SampleDatePicker" class="input-group">
                            <input type="datetime" name="SampleDatePicker" class="form-control form-control-sm date-picker">
                        </div>
        </div>
                </form>
               @*  <div class="my-3 col-6">
                    <label class="form-label" for="Application_Name">@L("Expected Win Date")</label>
                    <input class="form-control form-control-sm" id="Application_Name" value="" type="text" name="name" required maxlength="@Zeta.AgentosCRM.CRMSetup.DegreeLevelConsts.MaxNameLength" minlength="@Zeta.AgentosCRM.CRMSetup.DegreeLevelConsts.MinNameLength" />
                </div> *@
                <div class="col-md-6 mb-3">
                    <label class="form-label form-control-sm" for="Client_Name">@L("Expected Win Date")</label>

                    <div id="SampleDatePicker" class="input-group">
                        <input type="datetime" name="SampleDatePicker" class="form-control form-control-sm date-picker">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")