@using System.Globalization
@using Zeta.AgentosCRM.Web.Areas.AppAreaName.Models.Common.Modals
@using Abp.Extensions
@using Zeta.AgentosCRM.Web.Areas.AppAreaName.Models.Appointments
@model CreateOrEditAppointmentsViewModel
@await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel( L("CreateNewAppointment")))

<div class="modal-body">
    <div id="InformationsForm">
        <form name="AppointmentInformationsForm" role="form" novalidate class="form-validation">
            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.Appointment.Id" />
            }
            <input type="hidden" name="partnerId" id="partnerId" value="" />
            @*
            <input type="hidden" name="clientId" id="clientAppID" /> *@
            <div class="row">
                <div class="col-6">
                    <label class="fw-bold">Related to:</label>
                    <br />
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" id="relatedTo1" name="relatedTo" value="Option 1" disabled>
                        <label class="form-check-label" for="relatedTo1">Client</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" id="relatedTo2" name="relatedTo" value="Option 2" disabled>
                        <label class="form-check-label" for="relatedTo2">Partner</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="fw-bold">Added by:</label>
                        <p>Sahar Aussie ASEAN</p>
                    </div>
                </div>
            </div>

            <div class="my-3">
                <label class="form-label" for="Applointment_ClietName">@L("PartnerName")</label>
                <input class="form-control custom-small-input rounded-0" id="Applointment_PartnerName" value="" type="text" name="partnerName" required />
            </div>

            <div class="my-3">
                <label class="form-label" for="Applointment_TimeZone">@L("TimeZone")</label>
                @* @Html.DropDownList("Timezone", Model.TimezoneItems.Select(i => i.ToSelectListItem()), new {@class = "form-select", id = "Timezone"}) *@

                <input class="form-control custom-small-input rounded-0" id="Applointment_TimeZone" value="@Model.Appointment.TimeZone" type="text" name="TimeZone" required />
            </div>
            @*  <div class="mb-5">
            <label for="Timezone" class="form-label">@L("Timezone")</label>
            @Html.DropDownList("Timezone", Model.TimezoneItems.Select(i => i.ToSelectListItem()), new {@class = "form-select", id = "Timezone"})
            </div> *@
            <div class="row col-12">
                <div class="my-3 col-9">
                    <label class="form-label fw-bold text-dark" for="Applointment_Date">@L("Date")</label>
                    <input class="form-control form-control-sm rounded-0 custom-select-input date-picker" id="Applointment_Date" value="@Model.Appointment.AppointmentDate" type="datetime" name="AppointmentDate" required />
                </div>

                <div class="my-3 col-3">
                    <label class="form-label" for="Applointment_Time">@L("Time")</label>
                    <input class="form-control form-control-sm rounded-0 custom-select-input datetime-picker" id="Applointment_Time" value="2023-01-01 06:30:00" type="datetime" name="AppointmentTime" required />

                </div>

            </div>
            <div class="row col-12">


                <div class="my-3">
                    <label class="form-label" for="Applointment_Tittle">@L("Tittle")</label>
                    <input class="form-control custom-small-input rounded-0" id="Applointment_Tittle" value="@Model.Appointment.Title" type="text" name="Title" required />
                </div>
                <div class="my-3">
                    <label class="form-label" for="Applointment_Description">@L("Description")</label>
                    <textarea class="form-control custom-small-input rounded-0" id="Description" value="@Model.Appointment.Description" name="Description" required></textarea>
                </div>


                <div class="my-3">
                    <label class="form-label" for="applointment_Invitees">@L("Invitees")</label>
                    @Html.DropDownList("applointment_Invitees", new SelectList(Model.AppointmentInviteesList,"Id","DisplayName", (Model.IsEditMode ? Model.Appointment.Id.ToString() : "")),@L("SelectAInvitees"), new { @class = "form-control select2" , @required="required" })
                </div>
                <div class="my-3" hidden>
                    <label class="form-label" for="applointment_AddedBy">@L("AddedBy")</label>
                    <input class="form-control custom-small-input rounded-0" id="AddedById" value="" type="text" name="AddedById" required />
                </div>
            </div>
        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")