@using Zeta.AgentosCRM.Authorization
@using Zeta.AgentosCRM.Web.Areas.AppAreaName.Startup


<script abp-src="/view-resources/Areas/AppAreaName/Views/Agents/Applications/Applications.js" asp-append-version="true"></script>
<div class="Main mt-1 mb-3">
   @*  <div class="row">
        <div class="col-md-3">
            <div class="card h-100 text-center">
                <div class="card-body p-1">
                    <h5 class="card-title">IN PROGRESS</h5>
                    <p class="card-text">0</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-100 text-center">
                <div class="card-body p-1">
                    <h5 class="card-title">COMPLETED</h5>
                    <p class="card-text">0</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-100 text-center">
                <div class="card-body p-1">
                    <h5 class="card-title">DISCONTINUED</h5>
                    <p class="card-text">0</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-100 text-center">
                <div class="card-body p-1">
                    <h5 class="card-title">ENROLLED</h5>
                    <p class="card-text">0</p>
                </div>
            </div>
        </div>
    </div> *@
   @*  <br/> *@
   <div class="card">

        <div class="card-body">
            <div class="row ">
                <div class="table-responsive">
                    <table id="Applicationstable" class="table border custom-table align-middle fs-8 gy-2 dataTable no-footer">
                        <thead class="thead gy-7">
                            <tr>
                                <th></th>

                                <th>@L("WorkFlow")</th>
                                <th>@L("Partner")</th>
                                <th>@L("Product")</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                
                </div>
            </div>
        </div>
    </div>
@* 
    <div class="maincard">
        <div class="col-md-12 text-end mb-3">

          </div>
        <div class="card card-custom gutter-b">

            <div class="card-body ">

              


                <div class="row align-items-center">
                    <table id="ApplicationTable" class="table align-middle  fs-8 gy-2 dataTable no-footer">
                        <thead>
                            <tr>
                                <th></th>
                                <th>@L("Actions")</th>
                                <th>@L("Abbrivation")</th>
                                <th>@L("Name")</th>
                                <th>@L("Email")</th>
                                <th>@L("Email")</th>
                                <th>@L("Email")</th>
                                <th>@L("Email")</th>
                            </tr>
                        </thead>
                    </table>
                </div>

            </div>
        </div>

    </div> *@
</div>



