@using System.Globalization
@using Zeta.AgentosCRM.Web.Areas.AppAreaName.Models.Common.Modals
@using Abp.Extensions
@using Zeta.AgentosCRM.Web.Areas.AppAreaName.Models.Product.Requirements;
@model CreateOrEditProductOtherscoreModalViewModel
@await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel( L("EditOtherTestScore")))

<div class="modal-body">
    <div id="OtherscoreInformationsForm">
        <form name="OtherscoreInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" id="Id" value="@Model.ProductOtherTestRequirement.Id" />
            }

            <div class="my-3">
                <label class="form-label name1" for="Application_Abbrivation">@L("SATI")</label>
                <input class="form-control Totalscore1" id="TotalScore" value="@Model.ProductOtherTestRequirement.TotalScore" type="number" name="TotalScore" />
            </div>

            <div class="my-3">
                <label class="form-label name2" for="Application_Name">@L("SATII")</label>
                <input class="form-control Totalscore2" id="TotalScore" value="@Model.ProductOtherTestRequirement.TotalScore" type="number" name="name"  />
            </div>
            <div class="my-3">
                <label class="form-label name3" for="Application_Name">@L("GRE")</label>
                <input class="form-control Totalscore3" id="TotalScore" value="@Model.ProductOtherTestRequirement.TotalScore" type="number" name="name"  />
            </div>
            <div class="my-3">
                <label class="form-label name4" for="Application_Name">@L("GMAT")</label>
                <input class="form-control Totalscore4" id="TotalScore" value="@Model.ProductOtherTestRequirement.TotalScore" type="number" name="name"  />
            </div>
        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")