@using Zeta.AgentosCRM.Authorization
@* @using Zeta.AgentosCRM.Web.Areas.AppAreaName.Models.DocumentCheckListHeads; *@
@using Zeta.AgentosCRM.Web.Areas.AppAreaName.Startup
@* @model  DocumentCheckListHeadsViewModel
 @{
ViewBag.CurrentPageName = AppAreaNamePageNames.Tenant.DocumentChecklist;
} *@
@section Scripts
    {
    <script abp-src="/view-resources/Areas/AppAreaName/Views/DocumentCheckList/EditDocumentCheckListView.js" asp-append-version="true"></script>
}
@section Styles
    {
    <link rel="stylesheet" abp-href="/view-resources/Areas/AppAreaName/Views/Common/_PartialCardView.css" asp-append-version="true" />
   }
<abp-page-subheader title='@L("EditDocumentCheckList")'>
    
</abp-page-subheader>

<div class="@(await GetContainerClass())">
    <div class="card card-custom gutter-b">
        <div class="card-body">
            <div class="form">
                <div class="row align-items-center mb-4">
                    <div class="col-xl-12">
                         
                        <div class="my-3" hidden>
                            <div class="input-group">
                                <input type="text" id="DocumentCheckListID" class="form-control  custom-small-input rounded-0 input-sm reload-on-change" placeholder='@L("SearchWithThreeDot")' />

                            </div>
                        </div>
                        <div class="my-3" hidden>
                            <div class="input-group">
                                <input type="text" id="WorkFlowDocumentID" class="form-control  custom-small-input rounded-0 input-sm" placeholder='@L("SearchWithThreeDot")'/>
                            </div>
                        </div>
                        <div class="my-3" hidden>
                            <div class="input-group">
                                <input type="text" id="workFlowStepId" class="form-control  custom-small-input rounded-0 input-sm " placeholder='@L("SearchWithThreeDot")'/>
                            </div>
                        </div>
                        <div class="col-md-3"> 
                                <label class="form-label">@L("SelectedWorkFlow")</label>
                                 <input type="text" id="WorkFlowDocumentName" class="form-control  custom-small-input rounded-0 input-sm reload-on-change" placeholder='@L("SearchWithThreeDot")' disabled/>
                           
                        </div>
                        <div class="col-md-9">
                            <div class="my-7">
                                <label class="form-label" for="AbbrivationFilterId">@L("DocumentCheckList")</label><br />
                                <label class="form-label" for="AbbrivationFilterId">@L("DocumentCheckListHeading")</label>
                             </div>
                        </div>
                        <div class="WorkFlowStepDetail">
                             
                        </div>

                    </div>
                </div>
            </div>
               
        </div>
    </div>
</div>