
@using System.Globalization
@using Zeta.AgentosCRM.Web.Areas.AppAreaName.Models.Common.Modals
@using Zeta.AgentosCRM.Web.Areas.AppAreaName.Models.ProductType
@model CreateOrEditProductTypeModalViewModel
@using Abp.Extensions
@* @await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Create Product Type"))) *@
@await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditProductType")) : L("CreateNewProductType")))

<div class="modal-body">
    <div id="ProductTypeInformationsTab">
        <form name="ProductTypeInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
            <input type="hidden" name="id"  value="@Model.ProductType.Id" />
            }

            <div class="my-3">
                <label class="form-label" for="ProductType_Abbrivation">@L("Abbrivation")</label>
                <input class="form-control" id="ProductType_Abbrivation" value="@Model.ProductType.Abbrivaion" type="text" name="abbrivation" required maxlength="@Zeta.AgentosCRM.CRMSetup.ProductType.ProductTypeConsts.MaxAbbrivaionLength" minlength="@Zeta.AgentosCRM.CRMSetup.ProductType.ProductTypeConsts.MinAbbrivaionLength" />
            </div>

            <div class="my-3">
                <label class="form-label" for="ProductType_Name">@L("Name")</label>
                <input class="form-control" id="ProductType_Name" value="@Model.ProductType.Name" type="text" name="name" required maxlength="@Zeta.AgentosCRM.CRMSetup.ProductType.ProductTypeConsts.MaxNameLength" minlength="@Zeta.AgentosCRM.CRMSetup.ProductType.ProductTypeConsts.MinNameLength" />
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")