
@using Zeta.AgentosCRM.Web.Areas.AppAreaName.Models.Common.Modals
@using Zeta.AgentosCRM.Web.Areas.AppAreaName.Models.PartnerTypes
@model PartnerTypeViewModel

@await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="PartnerTypeInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("Abbrivation") :</h6>
                @Model.PartnerType.Abbrivation
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Name") :</h6>
                @Model.PartnerType.Name
            </div>

            <div class="col-6 mb-3">
                <h6>(@L("MasterCategory")) @L("Name") :</h6>
                @Model.MasterCategoryName
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalFooterWithClose.cshtml")