@using Zeta.AgentosCRM.Authorization
@using Zeta.AgentosCRM.Web.Areas.AppAreaName.Startup

@{
    ViewBag.CurrentPageName = AppAreaNamePageNames.Tenant.Agent;
}
@* <head>
    <style>

        .maincard {
            margin-left: 20px;
            margin-right: 20px;
        }
    </style>
</head> *@<style>
              .CardAdjust {
                  margin-left: 20px;
                  margin-right: 20px;
              }
</style>
<div>
    <div class="card CardAdjust">
        <div class="card-body">
            <div class="row ">
                <div class="table-responsive">
                    <table id="ClientReferedtable" class="table border custom-table align-middle fs-8 gy-2 dataTable no-footer">
                        <thead class="thead gy-7">
                                <tr>
                                    <th></th>
                                    <th>@L("Name")</th>
                                   @*  <th>@L("Tag")</th> *@
                                    <th>@L("CityCountryStage")</th>
                                 @*    <th>@L("Status")</th>
                                    <th>@L("Assignee")</th>
                                    <th>@L("AddedDate")</th> *@
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>                           
                            </tbody>
                        </table>
                </div>
            </div>
            </div>
        </div>
    </div>


