@using Zeta.AgentosCRM.Authorization
@using Zeta.AgentosCRM.Web.Areas.AppAreaName.Startup


<link rel="stylesheet" abp-href="/view-resources/Areas/AppAreaName/Views/Common/_PartialCardView.css" asp-append-version="true" />

@*if u want to give margin and padding between left and right*@
@*<div class="@(await GetContainerClass())">*@
<div class="maincard">
    <div class="col-md-12 text-end mb-3">

        <button id="CreateNewPromotionsButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("AddPromotions")</button>
    </div>
    <div class="card">

        <div class="card-body">
            <div class="form">
                <div class="fixed-width-div">
                    <div style="overflow-x: auto;">
                    </div>
                    <div class="row align-items-center">
                        <table id="Promotionstable" class="table align-middle  fs-8 gy-2 dataTable no-footer">
                            <thead>
                                <tr>
                                    <th></th>

                                    @*  <th>@L("Actions")</th>*@
                                    <th>@L("Name")</th>
                                    <th>@L("WorkFlow")</th>
                                    <th>@L("CurrentStage")</th>
                                    <th>@L("Status")</th>
                                    <th>@L("SalesForecast")</th>
                                    <th>@L("Started")</th>
                                    <th>@L("Lastupdated")</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*</div>*@