@using System.Globalization
@using Zeta.AgentosCRM.Web.Areas.AppAreaName.Models.Common.Modals
@using Zeta.AgentosCRM.Web.Areas.AppAreaName.Models.CRMCurrencies
@model CreateOrEditCRMCurrencyModalViewModel
@using Abp.Extensions
@await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode?(L("EditQuotationCurrency")): L("CreateNewQuotationCurrency")))
@* @await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("CreateNewQuotationCurrency"))) *@

<div class="modal-body">
    <div id="CRMCurrencyInformationsTab">
        <form name="CRMCurrencyInformationsForm" role="form" novalidate class="form-validation">
            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.CRMCurrency.Id" />

            }

            
            <div class="my-3">
                <label class="form-label" for="CRMCurrency_Abbrivation">@L("Abbrivation")</label>
                <input class="form-control" id="CRMCurrency_Abbrivation" value="@Model.CRMCurrency.Abbrivation" type="text" name="abbrivation" required maxlength="@Zeta.AgentosCRM.CRMSetup.CRMCurrency.CRMCurrencyConsts.MaxAbbrivationLength" minlength="@Zeta.AgentosCRM.CRMSetup.CRMCurrency.CRMCurrencyConsts.MinAbbrivationLength" />
            </div>

            <div class="my-3">
                <label class="form-label" for="MasterCategory_Name">@L("Name")</label>
                <input class="form-control" id="MasterCategory_Name" value="@Model.CRMCurrency.Name" type="text" name="name" required maxlength="@Zeta.AgentosCRM.CRMSetup.CRMCurrency.CRMCurrencyConsts.MaxNameLength" minlength="@Zeta.AgentosCRM.CRMSetup.CRMCurrency.CRMCurrencyConsts.MinNameLength" />
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")