@using Zeta.AgentosCRM.Authorization
@using Zeta.AgentosCRM.Web.Areas.AppAreaName.Models.EmailTemplates;
@using Zeta.AgentosCRM.Web.Areas.AppAreaName.Startup
@model  EmailTemplatesViewModel
@{
ViewBag.CurrentPageName = AppAreaNamePageNames.Tenant.EmailTemplate;
}
@section Scripts
    {
    <script abp-src="/view-resources/Areas/AppAreaName/Views/EmailTemplate/Index.js" asp-append-version="true"></script>
}
@section Styles
    {
    <link rel="stylesheet" abp-href="/view-resources/Areas/AppAreaName/Views/Common/_PartialCardView.css" asp-append-version="true" />
   }
<abp-page-subheader title='@L("EmailTemplate")' description='@L("EmailTemplateHeaderInfo")'>
    <button id="ExportToExcelButton" hidden class="btn btn-outline btn-sm btn-white text-black rounded-0 me-1"><i class="fa fa-file-excel text-success"></i> @L("ExportToExcel")</button>

    @if (IsGranted(AppPermissions.Pages_EmailTemplates_Create))
    {
    <button id="CreateNewEmailTemplate" class="btn btn-white btn-sm btn-outline text-black rounded-0"><i class="fa fa-plus"></i> @L("CreateNewEmailTemplate")</button>
     }
</abp-page-subheader>

<div class="@(await GetContainerClass())">
    <div class="card card-custom gutter-b">
        <div class="card-body">
            <div class="form">
                <div class="row align-items-center mb-4">
                    <div class="col-xl-12">

                        <div class="my-3" hidden>
                            <div class="input-group">
                                <input type="text" id="MasterCategoriesTableFilter" class="form-control form-control-sm reload-on-change" placeholder='@L("SearchWithThreeDot")' value="@Model.FilterText" >
                                <button id="GetMasterCategoriesButton" class="btn btn-sm rounded-0 btnsearch" type="submit"><i class="flaticon-search-1"></i></button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                <div class="col-md-12">
                </div>

                <div class="col-md-3">
                    <div class="my-3">
                        <label class="form-label" for="AbbrivationFilterId">@L("Abbrivation")</label>
                        <input type="text" class="form-control reload-on-keyup" name="abbrivationFilter" id="AbbrivationFilterId">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="my-3">
                        <label class="form-label" for="NameFilterId">@L("Name")</label>
                        <input type="text" class="form-control reload-on-keyup" name="nameFilter" id="NameFilterId">
                    </div>
                </div>

                <div class="col-md-12 mt-5">
                    <button class="btn btn-secondary btn-sm" id="btn-reset-filters">Reset</button>
                </div>
            </div>
            <div class="row my-4" hidden>
                <div class="col-xl-12">
                    <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                    <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                </div>
            </div>
            <div class="row align-items-center EmailtemplateRecord">
              
            </div>
        </div>
    </div>
</div>
<style>
    .Emailtemplate {
            border: 1px solid #000;  
            border-radius: 5px;  
            margin: 10px;  
            padding: 10px; 
        }

        .Card-head {
           /*  border-bottom: 1px solid #000;   */
            padding-bottom: 5px;  
            margin-bottom: 10px;  
        }

        .Card-Body {
             padding: 10px;
        }
         
        .Card-Body div:nth-child(3) {
      /*       border-top: 1px solid #000;   */
            padding-top: 5px; 
            margin-top: 10px;  
        }
    </style>