@using Zeta.AgentosCRM.CRMClient;
					
@using System.Globalization
@using Zeta.AgentosCRM.Authorization
@using Zeta.AgentosCRM.Web.Areas.AppAreaName.Models.Clients
@using Zeta.AgentosCRM.Web.Areas.AppAreaName.Startup
@model CreateOrEditClientViewModel
@using Abp.Extensions
@using Zeta.AgentosCRM.Web.TagHelpers
@{
    ViewBag.CurrentPageName = AppAreaNamePageNames.Tenant.Clients;
}
@section Scripts
{
    <script abp-src="/view-resources/Areas/AppAreaName/Views/Client/CreateOrEdit.js" asp-append-version="true"></script>
}
 


                @{
                    var breadcrumbs = new List<BreadcrumbItem>()
                    {
                        new BreadcrumbItem("/AppAreaName/Client", L("Clients")),
                        new BreadcrumbItem(Model.IsEditMode ? L("Edit") : L("Create"))
                    };
                }
                <abp-page-subheader title='@(Model.IsEditMode ? (L("EditClient")) : L("CreateNewClient"))' breadcrumbs="breadcrumbs">                 
                </abp-page-subheader>
            

<div class="@(await GetContainerClass())">
    <div class="card card-custom gutter-b">
        <form name="ClientInformationsForm" role="form" novalidate class="form-validation">
          
<div class="card maincard">
    <div class="card-body">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        <span class="toggle-text">Personal Details</span>
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse " data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row">
                                        @*   <div class="col-md-4">
                                        <div class="rounded-circle border border-secondary mx-auto position-relative overflow-hidden" style="width: 150px; height: 150px;">
                                        <input type="file" class="form-control position-absolute top-0 start-0 translate-middle" id="imageField" name="imageField" accept="image/*" style="opacity: 0;">
                                        <label for="imageField" class="d-block position-absolute bottom-0 start-50 translate-middle-x">Click to upload</label>
                                        </div>
                                        </div> *@
                                        <div class="col-md-4 d-flex justify-content-center align-items-center">
                                            <!-- Added d-flex, justify-content-center, and align-items-center classes -->
                                            <div class="rounded-circle border border-secondary position-relative overflow-hidden" style="width: 150px; height: 150px;">
                                                            <input type="file" value="@Model.Client.ProfilePictureId" class="form-control position-absolute top-0 start-0 translate-middle" id="imageField" name="imageField" accept="image/*" style="opacity: 0;">
                                                <label for="imageField" class="d-block position-absolute top-50 start-50 translate-middle text-center" style="transform: translate(-50%, -50%);">Upload Your Profile Image</label> <!-- Adjusted position and added transform -->
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <div class="row">

                                                    <div class="col-md-6 mb-3">
                                                      	<label class="form-label" for="Client_FirstName">@L("FirstName")</label>
									                   <input class="form-control form-control-sm" id="Client_FirstName" value="@Model.Client.FirstName" type="text" name="firstName"  required  maxlength="@Zeta.AgentosCRM.CRMClient.ClientConsts.MaxFirstNameLength"  minlength="@Zeta.AgentosCRM.CRMClient.ClientConsts.MinFirstNameLength"  />
							
                                                    </div>

                                                    <div class="col-md-6 mb-3">
                                                		<label class="form-label" for="Client_LastName">@L("LastName")</label>
									<input class="form-control form-control-sm" id="Client_LastName" value="@Model.Client.LastName" type="text" name="lastName"  required  maxlength="@Zeta.AgentosCRM.CRMClient.ClientConsts.MaxLastNameLength"  minlength="@Zeta.AgentosCRM.CRMClient.ClientConsts.MinLastNameLength"  />
							    </div>
                                                    <div class="col-md-6 mb-3">
                                                                    <label class="form-label" for="Client_DateofBirth">@L("DateofBirth")</label>
                                                                    <input class="form-control form-control-sm m-input date-picker" id="Client_DateofBirth" type="text" name="dateofBirth" value="@Model.Client.DateofBirth" />
                                                                </div>
                                                    <div class="col-md-6 mb-3">
                                                        <label class="form-label" for="Client_Name">@L("ClientID")</label>

                                                        <input class="form-control form-control-sm" id="Client_Name" value="@Model.Client.Id" type="text" name="name" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @* //////Accordion 2////// *@
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        <span class="toggle-text">Contact Details</span>
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse " data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="my-3 col-4">
                                                	<label class="form-label" for="Client_Email">@L("Email")</label>
									<input class="form-control form-control-sm" id="Client_Email" value="@Model.Client.Email" type="text" name="email"  required  maxlength="@Zeta.AgentosCRM.CRMClient.ClientConsts.MaxEmailLength"  minlength="@Zeta.AgentosCRM.CRMClient.ClientConsts.MinEmailLength"  />
							     </div>
                                                    <div class="my-3 col-4">
                                                  		<label class="form-label" for="Client_PhoneNo">@L("PhoneNo")</label>
									<input class="form-control form-control-sm" id="Client_PhoneNo" value="@Model.Client.PhoneNo" type="text" name="phoneNo"  required  maxlength="@Zeta.AgentosCRM.CRMClient.ClientConsts.MaxPhoneNoLength"  minlength="@Zeta.AgentosCRM.CRMClient.ClientConsts.MinPhoneNoLength"  />
								  </div>
                                                    <div class="col-md-4 mb-3 text-center">
                                                        <label class="form-label form-control-sm" for="Client_Abbrivation">@L("Contact preference")</label>

                                                        <div class="d-flex justify-content-center">
                                                            <!-- Email Button -->
                                                            <button class="btn btn-sm btn-primary btn-circle me-3">
                                                                <span class="">Email</span>
                                                                <i class="fas fa-envelope"></i>
                                                            </button>

                                                            <!-- SMS Button -->
                                                            <button class="btn btn-sm btn-primary btn-circle">
                                                                <span class="">SMS</span>
                                                                <i class="fas fa-sms"></i>
                                                            </button>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
               @* //////Accordion 3////// *@
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        <span class="toggle-text">Address</span>
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse " data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="my-3 col-4">
                                                  		<label class="form-label" for="Client_Street">@L("Street")</label>
									<input class="form-control form-control-sm" id="Client_Street" value="@Model.Client.Street" type="text" name="street"     />
								  </div>
                                                    <div class="my-3 col-4">
                              		<label class="form-label" for="Client_City">@L("City")</label>
									<input class="form-control form-control-sm" id="Client_City" value="@Model.Client.City" type="text" name="city"     />
							 </div>
                                                    <div class="my-3 col-4">
                                                		<label class="form-label" for="Client_State">@L("State")</label>
									<input class="form-control form-control-sm" id="Client_State" value="@Model.Client.State" type="text" name="state"     />
							    </div>
                                                    <div class="my-3 col-4">
                                                                    <label class="form-label" for="Client_ZipCode">@L("ZipCode")</label>
                                                                    <input class="form-control form-control-sm" id="Client_ZipCode" value="@Model.Client.ZipCode" type="text" name="zipCode" />
                                                                </div>
                                                    @*   <div class="my-3">
                                                    <label class="form-label" for="masterCategoryId">@L("Country")</label>
                                                    @Html.DropDownList("masterCategoryId", new SelectList(Model.PartnerTypeMasterCategoryList,"Id","DisplayName", (Model.IsEditMode ? Model.PartnerType.MasterCategoryId.ToString() : "")),@L("SelectAMasterCategory"), new { @class = "form-control" , @required="required" })
                                                    </div> *@
                                                    <div class="my-3 col-4">
                           	<label class="form-label form-control-sm" for="countryCodeId">@L("Country")</label>
							@Html.DropDownList("countryCodeId", new SelectList(Model.ClientCountryList,"Id","DisplayName", (Model.IsEditMode ? Model.Client.CountryId.ToString() : "")),@L("SelectACountry"), new { @class = "form-control"  , @required="required" })
					
						
                                                    </div>
                               
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @* ////4///// *@
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                        <span class="toggle-text">Current Visa Information</span>
                    </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse " data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-4 mb-3">
                                                  		<label class="form-label" for="Client_PreferedIntake">@L("PreferedIntake")</label>
									<input class="form-control form-control-sm m-input date-picker" id="Client_PreferedIntake" type="text" name="preferedIntake" value="@Model.Client.PreferedIntake" />
							   </div>
                                                    @*   <div class="my-3">
                                                    <label class="form-label" for="masterCategoryId">@L("Country of Passport")</label>
                                                    @Html.DropDownList("masterCategoryId", new SelectList(Model.PartnerTypeMasterCategoryList,"Id","DisplayName", (Model.IsEditMode ? Model.PartnerType.MasterCategoryId.ToString() : "")),@L("SelectAMasterCategory"), new { @class = "form-control" , @required="required" })
                                                    </div> *@
                                                    <div class="col-md-4 mb-3">
                                     <label class="form-label" for="CountryName2">@L("Country")</label>
                                    <div class="input-group">
                                                                        <input class="form-control form-control-sm" id="CountryName2" name="countryName2" value="@Model.PassportCountry" type="text" disabled>
                                        <button class="btn btn-primary blue" id="OpenCountry2LookupTableButton" type="button"><i class="fa fa-search"></i> @L("Pick")</button>
                                        <button class="btn btn-danger btn-icon" type="button" id="ClearCountryName2Button"><i class="fa fa-times"></i></button>
                                    </div>
							
                                                    </div>
                                                    
								@if (Model.IsEditMode)
								{
									<input class="form-control" id="Client_CountryId" value="@Model.Client.CountryId" type="text" name="countryId"  hidden/>
								}
								 else
								{ 
									<input class="form-control" id="Client_CountryId" value="" type="text" name="countryId"  hidden/>
								}


                                                    <div class="col-md-4 mb-3">
                                                  	<label class="form-label" for="Client_PassportNo">@L("PassportNo")</label>
									<input class="form-control form-control-sm" id="Client_PassportNo" value="@Model.Client.PassportNo" type="text" name="passportNo"     />
								  </div>
                                                    <div class="col-md-4 mb-3">
                                                  		<label class="form-label" for="Client_VisaType">@L("VisaType")</label>
									<input class="form-control form-control-sm" id="Client_VisaType" value="@Model.Client.VisaType" type="text" name="visaType"     />
								  </div>
                                                    @*   <div class="my-3 col-4">
                                                    <label class="form-label form-control-sm"  for="Client_Abbrivation">@L("Visa Expiray Date")</label>
                                                    <div id="SampleDatePicker" class="input-group">
                                                    <input type="datetime" name="SampleDatePicker" class="form-control date-picker">
                                                    </div>
                                                    </div> *@
                                                    <div class="col-md-4 mb-3">
                 		<label class="form-label" for="Client_VisaExpiryDate">@L("VisaExpiryDate")</label>
									<input class="form-control form-control-sm m-input date-picker" id="Client_VisaExpiryDate" type="text" name="visaExpiryDate" value="@Model.Client.VisaExpiryDate" />
							   </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                        <span class="toggle-text">Education</span>
                    </button>
                </h2>
                <div id="flush-collapseFive" class="accordion-collapse " data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group ">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="my-3 col-4">

                                                        <label class="form-label" for="highestQualificationId">@L("Highest Qualification")</label>
                                                        @Html.DropDownList("highestQualificationId", new SelectList(Model.ClientDegreeLevelList,"Id","DisplayName", (Model.IsEditMode ? Model.Client.HighestQualificationId.ToString() : "")),@L("SelectAHieghestQualification"), new { @class = "form-control" , @required="required" })

                                                    </div>
                                                    <div class="my-3 col-4">

                                                        <label class="form-label" for="trainingRequiredId">@L("IElts/PTE Tranning Required")</label>
                                                        @Html.DropDownList("trainingRequiredId", new SelectList(Model.ClientDegreeLevelList,"Id","DisplayName", (Model.IsEditMode ? Model.Client.Id.ToString() : "")),@L("SelectATrainingRequired"), new { @class = "form-control" , @required="required" })

                                                    </div>
                                                    <div class="my-3 col-4">
                                                       
                                                        <label class="form-label" for="studyAreaId">@L("Preferred Study Area")</label>
                                                        @Html.DropDownList("studyAreaId", new SelectList(Model.ClientSubjectAreaList,"Id","DisplayName", (Model.IsEditMode ? Model.Client.StudyAreaId.ToString() : "")),@L("SelectAStudyArea"), new { @class = "form-control" , @required="required" })

                                                    </div>
                                                    <div class="my-3 col-4">
                                                       
                                                        <label class="form-label" for="universityId">@L("Preferred University")</label>
                                                        @Html.DropDownList("universityId", new SelectList(Model.ClientUserList,"Id","DisplayName", (Model.IsEditMode ? Model.Client.University.ToString() : "")),@L("SelectAUniversity"), new { @class = "form-control" , @required="required" })

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @* <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                        <span class="toggle-text">Application</span>
                    </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse " data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="my-3 col-12">
                                                        <label class="form-label" for="Client_Application">@L("Application")</label>
                                                        <input class="form-control form-control-sm" id="Client_Application" value="@Model.Client.Id" type="text" name="name" />
                                                        <p id="p">*Email Adress must be entered to select Application</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>`
                        </div>
                    </div>
                </div>
            </div> *@
            @* <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                        <span class="toggle-text">Internal</span>
                    </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse " data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="my-3 col-4">

                                                        <label class="form-label" for="assigneeId">@L("Assignee")</label>
                                                        @Html.DropDownList("assigneeId", new SelectList(Model.ClientUserList,"Id","DisplayName", (Model.IsEditMode ? Model.Client.AssigneeId.ToString() : "")),@L("SelectAAssignee"), new { @class = "form-control" , @required="required" })

                                                    </div>
                                                    <div class="my-3 col-4">
                                                       
                                                        <label class="form-label" for="followersId">@L("Followers")</label>
                                                        @Html.DropDownList("followersId", new SelectList(Model.ClientUserList,"Id","DisplayName", (Model.IsEditMode ? Model.Client.Id.ToString() : "")),@L("SelectAFollwers"), new { @class = "form-control" , @required="required" })

                                                    </div>
                                                    @*   <div class="my-3 col-4">
                                                    <label class="form-label" for="Client_Application">@L("Choose a Source")</label>
                                                    <input class="form-control form-control-sm" id="Client_Application" value="Testing" type="text" name="name" required maxlength="@Zeta.AgentosCRM.CRMSetup.DegreeLevelConsts.MaxNameLength" minlength="@Zeta.AgentosCRM.CRMSetup.DegreeLevelConsts.MinNameLength" />
                                                    </div> *@
                               @*                      <div class="my-3 col-4">

                                                        <label class="form-label" for="tagnameId">@L("Tag name")</label>
                                                        @Html.DropDownList("tagnameId", new SelectList(Model.ClientUserList,"Id","DisplayName", (Model.IsEditMode ? Model.Client.Id.ToString() : "")),@L("SelectATagName"), new { @class = "form-control" , @required="required" })

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> *@
        </div>
        @* @await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml") *@
    </div>
</div>
  <div class="card-footer">
			    <div class="row align-items-center">
				    <div class="col-lg-12">
					    <button type="button" id="saveBtn" class="btn btn-success float-right"><i class="fa fa-save"></i> @L("Save")</button>
					    @if (!Model.IsEditMode)
                        {
					        <button type="button" id="saveAndNewBtn" class="btn btn-success float-right"><i class="fa fa-save"></i> @L("SaveAndNew")</button>
					    }
				    </div>
			    </div>
		    </div>
         </form>
    </div>
  </div>
