
@using System.Globalization
@using Zeta.AgentosCRM.Web.Areas.AppAreaName.Models.Common.Modals
@using Zeta.AgentosCRM.Web.Areas.AppAreaName.Models.InvoiceTypes
@model CreateOrEditInvoiceTypeModalViewModel
@using Abp.Extensions

@* @await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("CreateNewDocumentType"))) *@
@await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditInvoiceType")) : L("CreateNewInvoiceType")))

<div class="modal-body">
    <div id="DocumentTypeInformationsTab">
        <form name="DocumentTypeInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.InvoiceType.Id" />
            }
            <div class="my-3">
                <label class="form-label" for="DocumentType">@L("Abbrivation")</label>
                <input class="form-control  custom-small-input rounded-0 input-sm" id="DocumentType" name="abbrivation" value="@Model.InvoiceType.Abbrivation" required maxlength="@Zeta.AgentosCRM.CRMSetup.Documents.DocumentTypeConsts.MaxAbbrivationLength" minlength="@Zeta.AgentosCRM.CRMSetup.Documents.DocumentTypeConsts.MinAbbrivationLength" />
            </div>

            <div class="my-3">
                <label class="form-label" for="FeeType_Name">@L("Name")</label>
                <input class="form-control  custom-small-input rounded-0 input-sm" id="FeeType_Name" value="@Model.InvoiceType.Name" type="text" name="name" required maxlength="@Zeta.AgentosCRM.CRMSetup.Documents.DocumentTypeConsts.MaxNameLength" minlength="@Zeta.AgentosCRM.CRMSetup.Documents.DocumentTypeConsts.MinNameLength" />
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")