<script abp-src="/view-resources/Areas/AppAreaName/Views/Partners/NotesAndTerms/NotesAndTerms.js" asp-append-version="true"></script>

<div class="maincard mt-1">
    <div class="col-md-12 text-end mb-3">

        <button id="CreateNewNotesButton" class="btn  btn-sm btnclose btn-outline text-white rounded-0"><i class="fa fa-plus text-white"></i> @L("AddNotesAndTerms")</button>
    </div>
    @*  <div class="card">

     <div class="card-body">
            <div class="form">
                <div class="fixed-width-div">
                    <div style="overflow-x: auto;">
                    </div>
                    <div class="row align-items-center">
                        <table id="NotesAndTermsTable" class="table align-middle  fs-8 gy-2 dataTable no-footer">
                            <thead>
                                <tr>
                                    <th></th>

                                    <th>@L("PRODUCT NAME")</th>
                                    <th>@L("SYNC")</th>
                                    <th>@L("BRANCHES")</th>
                                    <th>@L("IN PROGRESS")</th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>
        </div>
        </div> *@
        <div id="cardContainernotes" class="container"></div>
</div>


