
@using System.Globalization
@using Zeta.AgentosCRM.Web.Areas.AppAreaName.Models.Common.Modals
@await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel( L("CreateNewSubject")))

<div class="modal-body">
    <div id="InformationsTab">
        <form name="InformationsForm" role="form" novalidate class="form-validation">

       @*     @if (Model.IsEditMode)
            {*@
            <input type="hidden" name="id" value="1" />
          @*  }*@

            <div class="my-3">
                <label class="form-label" for="masterCategoryId">@L("MasterCategory")</label>
                <input class="form-control" id="PartnerType_Abbrivation" value="Subject" type="text" name="abbrivation" required maxlength="@Zeta.AgentosCRM.CRMSetup.PartnerTypeConsts.MaxAbbrivationLength" minlength="@Zeta.AgentosCRM.CRMSetup.PartnerTypeConsts.MinAbbrivationLength" />
           @*     @Html.DropDownList("masterCategoryId", new SelectList(Model.PartnerTypeMasterCategoryList,"Id","DisplayName", (Model.IsEditMode ? Model.PartnerType.MasterCategoryId.ToString() : "")),@L("SelectAMasterCategory"), new { @class = "form-control" , @required="required" })*@
            </div>

            <div class="my-3">
                <label class="form-label" for="PartnerType_Abbrivation">@L("Abbrivation")</label>
                <input class="form-control" id="PartnerType_Abbrivation" value="Subject" type="text" name="abbrivation" required maxlength="@Zeta.AgentosCRM.CRMSetup.PartnerTypeConsts.MaxAbbrivationLength" minlength="@Zeta.AgentosCRM.CRMSetup.PartnerTypeConsts.MinAbbrivationLength" />
            </div>

            <div class="my-3">
                <label class="form-label" for="PartnerType_Name">@L("Name")</label>
                <input class="form-control" id="PartnerType_Name" value="Testing" type="text" name="name" required maxlength="@Zeta.AgentosCRM.CRMSetup.PartnerTypeConsts.MaxNameLength" minlength="@Zeta.AgentosCRM.CRMSetup.PartnerTypeConsts.MinNameLength" />
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")