
@using System.Globalization
@using Zeta.AgentosCRM.Web.Areas.AppAreaName.Models.Common.Modals
@using Zeta.AgentosCRM.Web.Areas.AppAreaName.Models.Subject;
@model CreateOrEditSubjectModalViewModel
@await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditSubject")) : L("CreateNewSubject")))

<div class="modal-body">
    <div id="InformationsTab">
        <form name="InformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.Subject.Id" />
           }

            <div class="my-3">
                <label class="form-label" for="SubjectAreaId">@L("SubjectArea")</label>
                @Html.DropDownList("SubjectAreaId", new SelectList(Model.SubjectSubjectAreaList,"Id","DisplayName", (Model.IsEditMode ? Model.Subject.SubjectAreaId.ToString() : "")),@L("SelectASubjectArea"), new { @class = "form-control" , @required="required" })
            </div>

            <div class="my-3">
                <label class="form-label" for="PartnerType_Abbrivation">@L("Abbrivation")</label>
                <input class="form-control" id="PartnerType_Abbrivation" value="@Model.Subject.Abbrivation" type="text" name="abbrivation" required maxlength="@Zeta.AgentosCRM.CRMSetup.SubjectConsts.MaxAbbrivationLength" minlength="@Zeta.AgentosCRM.CRMSetup.SubjectConsts.MinAbbrivationLength" />
            </div>

            <div class="my-3">
                <label class="form-label" for="PartnerType_Name">@L("Name")</label>
                <input class="form-control" id="PartnerType_Name" value="@Model.Subject.Name" type="text" name="name" required maxlength="@Zeta.AgentosCRM.CRMSetup.SubjectConsts.MaxNameLength" minlength="@Zeta.AgentosCRM.CRMSetup.SubjectConsts.MinNameLength" />
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")