<div class="maincard mt-1">
    <div class="col-md-12 text-end mb-3">

        <button id="CreateNewContactsButton" class="btn btn-sm btn-primary blue"><i class="fa fa-plus"></i> @L("AddContacts")</button>
    </div>
    <div class="card">
@* 
        <div class="card-body">
            <div class="form">
                <div class="fixed-width-div">
                    <div style="overflow-x: auto;">
                    </div>
                    <div class="row align-items-center">
                        <table id="ContactsTable" class="table align-middle  fs-8 gy-2 dataTable no-footer">
                            <thead>
                                <tr>
                                    <th></th>

                                    <th >@L("Actions")</th>
                                    <th >@L("PRODUCT NAME")</th>
                                    <th >@L("SYNC")</th>
                                    <th >@L("BRANCHES")</th>
                                    <th >@L("IN PROGRESS")</th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>
        </div> *@
    </div>
</div>


