@using Zeta.AgentosCRM.Authorization
@using Zeta.AgentosCRM.Web.Areas.AppAreaName.Startup


@* <script abp-src="/view-resources/Areas/AppAreaName/Views/Client/ApplicationClient/Index.js" asp-append-version="true"></script> *@
<link rel="stylesheet" abp-href="/view-resources/Areas/AppAreaName/Views/Common/_PartialCardView.css" asp-append-version="true" />

@*if u want to give margin and padding between left and right*@
@*<div class="@(await GetContainerClass())">*@
<div class="maincard">
    <div class="col-md-12 text-end mb-3">
        @*
        <button id="AddButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("Add Documents")</button>*@
        <span class="btn btn-primary  btn-sm fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Add Documents...</span>
            <!-- The file input field used as target for the file upload widget -->
            <input id="fileupload" type="file" name="files">
        </span>
    </div>
    <div class="card">

        <div class="card-body">
            <div class="form">
                <div class="fixed-width-div">
                    <div style="overflow-x: auto;">
                    </div>
                    <div class="row align-items-center">
                        <div class="table-responsive">
                            <table id="Applicationtable" class="table border align-middle  fs-8 gy-2 dataTable no-footer">
                            <thead>
                                <tr>
                                    <th></th>

                                    @* <th>@L("Action")</th>*@
                                    <th>@L("FileName")</th>
                                    <th>@L("AddedBy")</th>
                                    <th>@L("FileSize")</th>
                                    <th>@L("AddedDate")</th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*</div>*@