@using Zeta.AgentosCRM.Web.Areas.AppAreaName.Models.Partners;
@using Zeta.AgentosCRM.Web.Areas.AppAreaName.Startup
@model PartnerViewModel
@using Abp.Extensions
@using Zeta.AgentosCRM.Web.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
@section Scripts
    {
    <script abp-src="/view-resources/Areas/AppAreaName/Views/Partners/Products/_Products.js" asp-append-version="true"></script>
    <script abp-src="/view-resources/Areas/AppAreaName/Views/Partners/Branches/Branches.js" asp-append-version="true"></script>
    <script abp-src="/view-resources/Areas/AppAreaName/Views/Partners/ComposeEmail/_Email.js" asp-append-version="true"></script>
    <script abp-src="/view-resources/Areas/AppAreaName/Views/Partners/Contacts/Contacts.js" asp-append-version="true"></script>
    <script abp-src="/view-resources/Areas/AppAreaName/Views/Partners/Appointments/Index.js" asp-append-version="true"></script>
    <script abp-src="/view-resources/Areas/AppAreaName/Views/Partners/Tasks/Index.js" asp-append-version="true"></script>
    <script abp-src="/view-resources/Areas/AppAreaName/Views/Partners/Promotions/_Promotions.js" asp-append-version="true"></script>
    <script abp-src="/view-resources/Areas/AppAreaName/Views/Partners/NotesAndTerms/NotesAndTerms.js" asp-append-version="true"></script>
    <script abp-src="/view-resources/Areas/AppAreaName/Views/Partners/Agreements/Agreements.js" asp-append-version="true"></script>
    <script abp-src="/view-resources/Areas/AppAreaName/Views/_Bundles/demo-ui-components.js" asp-append-version="true"></script>
    <script abp-src="/view-resources/Areas/AppAreaName/Views/Common/_DynamicEntityPropertyManager.js" asp-append-version="true"></script>
    <script abp-src="/view-resources/Areas/AppAreaName/Views/_Bundles/user-list.js" asp-append-version="true"></script>

    <script abp-src="/view-resources/Areas/AppAreaName/Views/_Bundles/demo-ui-components.js" asp-append-version="true"></script>
}

@section Styles
    {
    <link rel="stylesheet" abp-href="/view-resources/Areas/AppAreaName/Views/Common/_PartialCardView.css" asp-append-version="true" />
    <link rel="stylesheet" abp-href="/view-resources/Areas/AppAreaName/Views/Partners/Application/Application.css" asp-append-version="true" />
    <link rel="stylesheet" abp-href="/view-resources/Areas/AppAreaName/Views/Partners/InformationDetails/_OtherInformationDetails.css" asp-append-version="true" />
    <link rel="stylesheet" abp-href="/view-resources/Areas/AppAreaName/Views/_Bundles/demo-ui-components.css" asp-append-version="true" />

    <link rel="stylesheet" abp-href="/view-resources/Areas/AppAreaName/Views/Common/_PartialCardView.css" asp-append-version="true" />
    <link rel="stylesheet" abp-href="/view-resources/Areas/AppAreaName/Views/Client/_ClientOtherInformation.css" asp-append-version="true" />
    <link rel="stylesheet" abp-href="/view-resources/Areas/AppAreaName/Views/_Bundles/demo-ui-components.css" asp-append-version="true" />
    }
<body class="mt-3">


    <div class="cards">


        <div class="mt-3  maincard">
            <div class="row Detailform">
                @* ////Card 1/// *@
                <div class="col-md-4">
                    <div class="card shadow">
                        <div class="card-body">
                            <div class="col-lg-12 mb-3 text-start">
                                <div class="symbol symbol-100px symbol-lg-160px symbol-fixed position-relative p-3">
                                    <img src="/Common/Images/Social/University.jpg" alt="Metronic" class="rounded-circle" />
     @*                                <div class="
    position-absolute
    translate-middle
    bottom-0
    start-100
    mb-6
    bg-success
    rounded-circle
    border border-4 border-white
    h-20px
    w-20px
"></div> *@
                                </div>
                               
                            </div>
                            @* /////Icons div///// *@
                            <div class="col-lg-12 mb-3 text-start">
                                <div class="row">
                                    <div class="col-1"></div>
                                    <div class="col-1">
                                        <a class="me-2 text-muted rounded-circle" data-toggle="tooltip" title="Email">
                                            <span class="fa fa-envelope"></span>
                                        </a>
                                    </div>
                                    <div class="col-1">
                                        <a class="me-2 text-muted rounded-circle" data-toggle="tooltip" title="Edit">
                                            <span class="fa fa-pencil"></span>
                                        </a>
                                    </div>
                                    @* <div class="col-1">
                                        <a class="me-2 text-muted rounded-circle" data-toggle="tooltip" title="Approve">
                                            <span class="fa fa-check"></span>
                                        </a>
                                    </div> *@
                                    <div class="col-1">
                                        <a class="me-2 text-muted rounded-circle" data-toggle="tooltip" title="SMS">
                                            <span class="fa fa-comment"></span>
                                        </a>
                                    </div>
                                    <div class="col-1">
                                        <a class="me-2 text-muted rounded-circle" data-toggle="tooltip" title="Archived">
                                            <span class="fa fa-archive"></span>
                                        </a>
                                    </div>
                                    <div class="col-1"></div>
                                    <div class="col-1"></div>
                                    <div class="col-1"></div>
                                </div>
                            </div>


                            <div class="col-lg-12 mt-1 text-start">
                                <div class="d-flex align-items-center  pb-4">
                                    <a class="text-gray-800 text-hover-primary fs-2 fw-bolder me-1 cursor-pointer custominput">
                                         @Model.Partner.PartnerName
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-12 text-start ">
                                <label for="AddedFrom " class="custominput">Email:</label>
                                <p class="text-muted"> @Model.Partner.Email</p>
                            </div>
                            <div class="col-lg-12">
                                <input type="hidden" value="@Model.Partner.Id" id="PartnerId"/>
                            </div>
                            <div class="col-lg-12"><input type="hidden" /></div>
                            <div class="col-lg-12"><input type="hidden" /></div>
                        </div>
                    </div>
                </div>
                @* ////Card 2/// *@
                <div class="col-md-4">
                    <div class="card shadow">
                        <div class="card-body text-start">
                            <div class="col-lg-12 pb-2 text-start">
                              @*   <label for="AddedFrom" class="form-label form-label-sm">General Information::</label> *@
                                <p class="custominput">Phone No:</p>
                                <p class="text-muted">  @Model.Partner.PhoneNo</p>
                            </div>
                            <div class="col-lg-12 pb-2 text-start">
                                <label for="Phone" class="form-label form-label-sm custominput">
                                    Fax:
                                </label><br />
                                <p class="text-muted">  @Model.Partner.Fax</p>
                            </div>
                            <div class="col-lg-12 text-start">
                                <label for="Address" class="form-label form-label-sm custominput"> MarketingEmail:  </label><br />
                                <p class="text-muted"> @Model.Partner.MarketingEmail
                                </p>
                            </div>
                            <div class="col-lg-12 mb-3 text-start">
                                <label for="ClientId" class="form-label form-label-sm custominput"> Address:</label><br />
                                <p class="text-muted">@Model.Partner.Street, @Model.Partner.City, @Model.Partner.State, @Model.Partner.ZipCode, @Model.CountryName</p>
                                   
                            </div>
                            <div class="col-lg-12 mb-3 text-start">
                                <label for="ClientId" class="form-label form-label-sm custominput">  Website:</label><br />
                                <p class="text-muted">
                                    @Model.Partner.Website
                                </p>
                            </div>
                          
                          
                        </div>
                    </div>
                </div>
                @* ////Card 3/// *@
                <div class="col-md-4">
                    <div class="card shadow">
                        <div class="card-body">
                            <div class="col-lg-12">
                                <label for="AddedFrom" class="form-label form-label-sm custominput">Services:</label>
                                <p class="text-muted">   @Model.WorkflowName</p>
                            </div>
                            <div class="col-lg-12">
                                <label for="Phone" class="form-label form-label-sm custominput">Added On:</label>
                                <p class="text-muted">@Model.Partner.CreationTime</p>
                            </div>
                            <div class="col-lg-12">
                                <label for="Address" class="form-label form-label-sm custominput">Business Registration Number:</label>
                                <p class="text-muted"> @Model.Partner.BusinessRegNo</p>
                            </div>
                            <div class="col-lg-12">
                                <label for="AddedFrom" class="form-label form-label-sm custominput">Currency code:</label>
                                <p class="text-muted">AUD</p>
                            </div>
                           
                          
                        </div>
                    </div>
                </div>
                @* ////Card 4/// *@
              
            </div>
        </div>



    </div>

    <div class="mt-4 maincard">
        <div class="card navbar-link-card-height pt-1 pr-1 pb-3 pl-2 d-flex">
            <div class="card-head">
                <div class="d-flex  h-55px navbar-link-card-Allign">
                    <ul class="
          nav nav-stretch nav-line-tabs nav-line-tabs-2x
          border-transparent
          fs-5
          fw-bolder

          ml-3 pl-2
        ">
                        <li class="nav-item active">
                            <a href="#ApplicationsTab" data-bs-toggle="tab" role="tab" class="nav-link navbar-link-item-card-font active"aria-selected="true">
                                @L("Application")
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="#ProductsTab" data-bs-toggle="tab" role="tab" class="nav-link navbar-link-item-card-font">
                                @L("Product")
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#BranchesTab" data-bs-toggle="tab" role="tab" class="nav-link navbar-link-item-card-font">
                                @L("Branches")
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#AgreementsTab" data-bs-toggle="tab" role="tab" class="nav-link navbar-link-item-card-font">
                                @L("Agreements")
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#ContactsTab" data-bs-toggle="tab" role="tab" class="nav-link navbar-link-item-card-font">
                                @L("Contacts")
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#NotesTermsTab" Tab" data-bs-toggle="tab" role="tab" class="nav-link navbar-link-item-card-font">
                                @L("NotesAndTerms")
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#DocumentsTab" data-bs-toggle="tab" role="tab" class="nav-link navbar-link-item-card-font">
                                @L("Documents")
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#AppointmentsTab" data-bs-toggle="tab" role="tab" class="nav-link navbar-link-item-card-font">
                                @L("Appointments")
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#ConversationsTab" data-bs-toggle="tab" role="tab" class="nav-link navbar-link-item-card-font">
                                @L("Conversations")
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#TasksTab" data-bs-toggle="tab" role="tab" class="nav-link navbar-link-item-card-font">
                                @L("Tasks")
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#OtherInformationTab" data-bs-toggle="tab" role="tab" class="nav-link navbar-link-item-card-font">
                                @L("OtherInformations")
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#PromotionsTab" data-bs-toggle="tab" role="tab" class="nav-link navbar-link-item-card-font">
                                @L("Promotions")
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="tab-content">
            <div class="tab-pane pt-3 active" id="ApplicationsTab" role="tabpanel">
                <div class="list-group">
                    @await Html.PartialAsync("~/Areas/AppAreaName/Views/Partners/Applications/_Application.cshtml")
                </div>
            </div>

            <div class="tab-pane pt-2 mb-7" id="ProductsTab" role="tabpanel">
                <div class="list-group">
                    @await Html.PartialAsync("~/Areas/AppAreaName/Views/Partners/Products/_Products.cshtml")
                </div>
            </div>
            <div class="tab-pane pt-3 mb-7" id="BranchesTab" role="tabpanel">
                <div class="list-group">
                    @await Html.PartialAsync("~/Areas/AppAreaName/Views/Partners/Branches/Branches.cshtml")
                </div>
            </div>
            <div class="tab-pane pt-3 mb-7" id="AgreementsTab" role="tabpanel">
                <div class="list-group">
                    @await Html.PartialAsync("~/Areas/AppAreaName/Views/Partners/Agreements/Agreement.cshtml")
                </div>
            </div>
            <div class="tab-pane pt-3 mb-7" id="ContactsTab" role="tabpanel">
                <div class="list-group">
                    @await Html.PartialAsync("~/Areas/AppAreaName/Views/Partners/Contacts/Contacts.cshtml")
                </div>
            </div>
            <div class="tab-pane pt-3 mb-7" id="NotesTermsTab" role="tabpanel">
                <div class="list-group">
                    @await Html.PartialAsync("~/Areas/AppAreaName/Views/Partners/NotesAndTerms/NotesAndTerms.cshtml")
                </div>
            </div>
            <div class="tab-pane pt-3 mb-7" id="DocumentsTab" role="tabpanel">
                <div class="list-group">
                    @await Html.PartialAsync("~/Areas/AppAreaName/Views/Partners/_Documents.cshtml")
                </div>
            </div>
            <div class="tab-pane pt-3 mb-7" id="AppointmentsTab" role="tabpanel">
                <div class="list-group">
                    @await Html.PartialAsync("~/Areas/AppAreaName/Views/Partners/Appointments/AppointmentIndex.cshtml")
                </div>
            </div>
            <div class="tab-pane pt-3 mb-7" id="ConversationsTab" role="tabpanel">
                <div class="list-group">
                    @await Html.PartialAsync("~/Areas/AppAreaName/Views/Partners/Conversations/_ClientConversation.cshtml")
                </div>
            </div>
            <div class="tab-pane pt-3 mb-7" id="TasksTab" role="tabpanel">
                <div class="list-group">
                    @await Html.PartialAsync("~/Areas/AppAreaName/Views/Partners/Tasks/TaskIndex.cshtml")
                </div>
            </div>
            <div class="tab-pane pt-3 mb-7" id="OtherInformationTab" role="tabpanel">
                <div class="list-group">
                    @await Html.PartialAsync("~/Areas/AppAreaName/Views/Partners/PartnerOtherInformations/_PartnerOtherInformation.cshtml")
                </div>
            </div>
            <div class="tab-pane pt-3 mb-7" id="PromotionsTab" role="tabpanel">
                <div class="list-group">
                    @await Html.PartialAsync("~/Areas/AppAreaName/Views/Partners/Promotions/_Promotions.cshtml")
                </div>
            </div>

        </div>
    </div>

</body>
</html>