@using Zeta.AgentosCRM.Authorization
@using Zeta.AgentosCRM.Web.Areas.AppAreaName.Models.MasterCategories
@using Zeta.AgentosCRM.Web.Areas.AppAreaName.Startup
@* @model MasterCategoriesViewModel *@
@{
    ViewBag.CurrentPageName = AppAreaNamePageNames.Tenant.Partners;
}

@* @section Scripts
    {
    <script abp-src="/view-resources/Areas/AppAreaName/Views/Partners/Index.js" asp-append-version="true"></script>

} *@
@section Styles
    {
    <link rel="stylesheet" abp-href="/view-resources/Areas/AppAreaName/Views/Common/_PartialCardView.css" asp-append-version="true" />
   }
      <script abp-src="/view-resources/Areas/AppAreaName/Views/Partners/ComposeEmail/_Email.js" asp-append-version="true"></script>

<abp-page-subheader title='@L("Partners")' description='@L("PartnersHeaderInfo")'>
      <button id="ExportToExcelButton" class="btn btn-white btn-outline btn-sm  me-1 rounded-0"><i class="fa fa-file-excel text-success"></i> @L("ExportToExcel")</button>
         <a href="@Url.Action("AddPartnersDetails", "Partners", new { area = "AppAreaName" })" class="btn btn-white btn-outline btn-sm rounded-0">@L("AddNewPartner")</a>

</abp-page-subheader>
@* <abp-page-subheader title='@L("ProductType")' description='@L("ProductTypeHeaderInfo")'>
    <button id="ExportToExcelButton" class="btn btn-white btn-outline btn-sm  me-1"><i class="fa fa-file-excel text-success"></i> @L("ExportToExcel")</button>

    @if (IsGranted(AppPermissions.Pages_ProductTypes_Create))
    {
    <button id="CreateNewProductTypeButton" class="btn btn-white btn-outline btn-sm"><i class="fa fa-plus"></i> @L("CreateNewPartner")</button>
    }
</abp-page-subheader> *@
<div class="@(await GetContainerClass())">
    <div class="card card-custom gutter-b">
        <div class="card-body">
            <div class="form">
                <div class="row align-items-center mb-4">
                    <div class="col-xl-12">

                        <div class="my-3">
                            <div class="input-group">
                               
  <input type="text" id="PartnersTableFilter" class="form-control form-control-sm reload-on-change" placeholder='@L("SearchWithThreeDot")' value="@Model.FilterText">
                        <button id="GetClientsButton" class="btn btn-sm" type="submit"><i class="flaticon-search-1"></i></button>    
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                <div class="col-md-12">
                </div>

                <div class="col-md-3">
                    <div class="my-3">
                        <label class="form-label" for="AbbrivationFilterId">@L("Abbrivation")</label>
                        <input type="text" class="form-control reload-on-keyup" name="abbrivationFilter" id="AbbrivationFilterId">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="my-3">
                        <label class="form-label" for="NameFilterId">@L("Name")</label>
                        <input type="text" class="form-control reload-on-keyup" name="nameFilter" id="NameFilterId">
                    </div>
                </div>

                <div class="col-md-12 mt-5">
                    <button class="btn btn-secondary btn-sm" id="btn-reset-filters">Reset</button>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-xl-12">
                    <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                    <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                </div>
            </div>
              <div class="row align-items-center">
                  	<div class="table-responsive">
                <table id="PartnersTable" class="table border align-middle  fs-8 gy-2 dataTable no-footer">
                    <thead class="thead gy-7">
                        <tr>
                           
                             <th class="align-middle" style="padding:4px"><input type="checkbox" ></th>
                            <th>@L("Name")</th>
                            <th>@L("WORKFLOW")</th>
                            <th>@L("PARTNERTYPE")</th>
                            <th>@L("CITY")</th>
                            <th>@L("PRODUCTS")</th>
                            <th>@L("ENROLLED")</th>
                            <th>@L("IN PROGRESS")</th>
                            <th>@L("EMAIL")</th>
                        </tr>
                    </thead>
                    <tbody>
                       <tr >
                          <td class="align-middle" style="padding:4px"> <input type="checkbox" ></td>
                           <td data-v-287fbc8b="" class="">
                                    <div data-v-b0d0ffe4="" class="d-flex align-items-center">
                                        <span class="d-inline-block rounded-circle p-2 text-white bg-primary me-2" title="HASSAN KAMAL">
                                            <!-- Added 'me-2' class for right margin -->
                                            <b>FK</b>
                                        </span>
                                        <div data-v-b0d0ffe4="" class="d-flex flex-column">
                                            <a href="@Url.Action("PartnersDetails", "Partners", new { area = "AppAreaName" })" class="text-truncate" title="HASSAN KAMAL">
                                                Faryal Khalid
                                            </a>
                                            <a href="@Url.Action("ClientEmailCompose", "Client", new { area = "AppAreaName" })" class="text-decoration-none">
                                                <div class="d-flex align-items-center">
                                                    <div class="text-truncate">fryalKhalid@outlook.com</div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                </td>
                            <td>
                         
                            Australian Education with VISA
                         </td>
                        <td>
                               
                         West Melbourne
                        </td>
                        <td>
                          Institution
                        </td>
                        <td>
                            0
                        </td>
                        <td>
                            0
                        </td>
                        <td>
                            0
                        </td>
                        <td>
                            admissions@aahe.edu.au
                        </td>
                       </tr>

                       <tr>
                             <td class="align-middle" style="padding:4px"> <input type="checkbox" ></td>
                         <td data-v-287fbc8b="" class="">
                                    <div data-v-b0d0ffe4="" class="d-flex align-items-center">
                                        <span class="d-inline-block rounded-circle p-2 text-white bg-dark me-2" title="AHMAD ZAFAR">
                                            <!-- Added 'me-2' class for right margin -->
                                            <b>AZ</b>
                                        </span>
                                        <div data-v-b0d0ffe4="" class="d-flex flex-column">
                                            <a href="" @Url.Action("PartnersDetails", "Partners", new { area = "AppAreaName" })" class="text-truncate" title="AHMAD ZAFAR">
                                                AHMAD ZAFAR
                                            </a>
                                            <a href="mailto:hassankamal20232023@outlook.com" class="text-decoration-none">
                                                <div class="d-flex align-items-center">
                                                    <div class="text-truncate">ahmadzafar@outlook.com</div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                </td>
                            <td>
                         
                            Australian Education with VISA
                         </td>
                        <td>
                             Brisbane Australia
                        </td>
                        <td>
                          Institution
                        </td>
                        <td>
                            3
                        </td>
                        <td>
                            0
                        </td>
                        <td>
                            0
                        </td>
                        <td>
                                marketing@windsorcollege.ed
                        </td>
                       </tr>
                    </tbody>
                </table>
 
            </div>
            </div>
            <div class="row col-12 justify-content-end">
                <div class="row col-9">
                    </div>
                <div class="pagination col-3 ">
  <a href="#">&laquo;</a>
  <a href="#">1</a>
  <a class="active" href="#">2</a>
  <a href="#">3</a>
  <a href="#">4</a>
  <a href="#">&raquo;</a>
</div>
</div>
        </div>
    </div>
</div>

