@using System.Globalization
@using Zeta.AgentosCRM.Web.Areas.AppAreaName.Models.Common.Modals
@using Zeta.AgentosCRM.Web.Areas.AppAreaName.Models.Workflows
@model CreateOrEditWorkflowModalViewModel
@using Abp.Extensions
@await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditWorkflow")) : L("CreateNewWorkflow")))
@* <input type="hidden" id="MasterDetailChild_Workflow_WorkflowStepsId" value="@Model.Workflow.Id" />
 *@



<div class="modal-body">
    <div id="WorkflowInformationsTab">
        <form name="WorkflowInformationsForm" role="form" novalidate class="form-validation">

            <div class="row">
                <div class="col-lg-9">
                    @if (Model.IsEditMode)
                    {
                        <input type="hidden" name="id" value="@Model.Workflow.Id" />
                        <input type="hidden" id="WorkflowId" value="@Model.Workflow.Id" />

                    }
                    <div class="my-3">
                        <label class="form-label" for="Workflow_Name">@L("Name")</label>
                        <input class="form-control" id="Workflow_Name" autocomplete="off" value="@Model.Workflow.Name" type="text" name="name" required maxlength="@Zeta.AgentosCRM.CRMSetup.WorkflowConsts.MaxNameLength" minlength="@Zeta.AgentosCRM.CRMSetup.WorkflowConsts.MinNameLength" />
                    </div>
                    <div class="my-3">
                        <label class="form-label" for="Workflow_Name">@L("workflowaccessible")</label>
                        <div class="col-12">
                            <div class="col-6">
                                <input type="radio" id="allOffice" name="IsForAllOffices" value="true" @Html.Raw(Model.Workflow.IsForAllOffices ? "checked=\"checked\"" : "") />
                                <label class="form-label" for="allOffice">@L("AllOffice")</label>

                                <input type="radio" id="selectedOffice" name="IsForAllOffices" value="false" @(!Model.Workflow.IsForAllOffices ? "checked=\"checked\"" : "") />
                                <label class="form-label" for="selectedOffice">@L("selectedoffice")</label>
                            </div>
                        </div>

                    </div>
                    @* @if (Model.Workflow.IsForAllOffices == false)
                    { *@
                    <div class="my-3" id="showhide">
                            <label class="form-label" for="Workflow_Name">@L("Accessibleoffice")</label>
                        <select id="WorkFlowOfficeId" class="form-select select2" data-id="" data-control="select2"></select>


                        @* <input class="form-control" id="Workflow_Name" autocomplete="off" value="@Model.Workflow.Name" type="text" name="name" required maxlength="@Zeta.AgentosCRM.CRMSetup.WorkflowConsts.MaxNameLength" minlength="@Zeta.AgentosCRM.CRMSetup.WorkflowConsts.MinNameLength" /> *@
                        </div>
                    @* <div class="col-md-4 mb-3">
                        <label for="partnerType" class="form-label">@L("RelatedOffice")</label>
                        @Html.DropDownList("organizationUnitId", new SelectList(Model.AgentOrganizationUnitList,"Id","DisplayName", (Model.IsEditMode ? Model.Agent.OrganizationUnitId.ToString() : "")),@L("SelectAOrganizationUnitId"), new { @class = "form-control" , @required="required" })
                    </div> *@ @* } *@
                   @*  else
                    {
                        <div class="my-3" id="showhide">
                            <label class="form-label" for="Workflow_Name">@L("Accessibleoffice")</label>
                            <input class="form-control" id="Workflow_Name" autocomplete="off" value="@Model.Workflow.Name" type="text" name="name" required maxlength="@Zeta.AgentosCRM.CRMSetup.WorkflowConsts.MaxNameLength" minlength="@Zeta.AgentosCRM.CRMSetup.WorkflowConsts.MinNameLength" />
                        </div>
                    } *@
                </div>
                <div class="col-lg-3">
                    <div style="background-color: #f2f2f2; font-size: 11px;  padding: 10px;">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;<label style="font-weight: bold;">Points to remember</label>
                        <ul>
                            <li>
                                The stage cannot be deleted if it already has applicants in it.
                            </li>
                            <li>
                                The stage cannot be disabled if it is the current stage of any in-progress application.
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </form>
        <form name="WorkflowSetupInformationSetupsForm" id="WorkflowSetupInformationSetupsForm" role="form" novalidate class="form-validation">
            <hr />
            <div class="form-group row">
                <div class="col-lg-9">
                    <h6>@("Create new workflow setup")</h6>
                    <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;&nbsp;<span>you can create up to 20 stages in workflow with atleast 2 active stages.</span>

                </div>
                <div class="col-lg-3">
                    <h6>Win Stage</h6>
                </div>


            </div>
            @*  <div class="form-group row">
            <label class="col-md-3 col-form-label">@L("SrlNo")</label>
            <label class="col-md-3 col-form-label">@L("Abbrivation")</label>
            <label class="col-md-3 col-form-label">@L("Name")</label>
            </div> *@
            <div class="form-group row">
                @* <div class="col-md-3">
                <input type="number" id="Srno" name="srno" class="form-control" required maxlength="@Zeta.AgentosCRM.CRMSetup.WorkflowStepConsts.MaxSrlNoValue" minlength="@Zeta.AgentosCRM.CRMSetup.WorkflowStepConsts.MinSrlNoValue" />
                </div>
                <div class="col-md-3">
                <input type="text" id="abbrivation" name="abbrivation" class="form-control" required maxlength="@Zeta.AgentosCRM.CRMSetup.WorkflowStepConsts.MaxAbbrivationLength" minlength="@Zeta.AgentosCRM.CRMSetup.WorkflowStepConsts.MinAbbrivationLength" />

                </div>
                <div class="col-md-4">
                <input type="text" id="name" name="name" class="form-control" required maxlength="@Zeta.AgentosCRM.CRMSetup.WorkflowStepConsts.MaxNameLength" minlength="@Zeta.AgentosCRM.CRMSetup.WorkflowStepConsts.MinNameLength" />

                </div> *@
                @* <div class="col-md-3"></div>
                <div class="col-md-3"></div> *@
                <div class="col-md-10">
                    <div class="timeline">
                        <div class="timeline-wrapper" id="sortable">
                            <br />
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <br />
                    <button type="button" class="btn btn-primary add-button-WorkFlow"> @L("Add")</button>
                </div>
            </div>

        </form>
    </div>
</div>

<style>
    .timeline {
        /* width: 50%; */
        margin: 0 auto;
        font-family: Arial, sans-serif;
        position: relative;
        overflow: hidden;
    }

    .timeline-wrapper {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
    }

    .timeline-item {
        display: flex;
        margin-bottom: 20px;
        position: relative;
        pending-top: 40px;
    }

    .timeline-circle {
        width: 20px;
        height: 20px;
        background-color: #3498db;
        border-radius: 50%;
        margin-right: 20px;
    }

    .timeline-content {
        /*    flex: 1; */
        padding: 10px;
        background-color: #f3f3f3;
        border-radius: 5px;
        display: flex;
        /*         align-items: right; */
    }

        .timeline-content input {
            width: 400px;
        }

        .timeline-content span {
            margin-left: 10px;
            margin-right: 02px;
        }

    .timeline h3 {
        margin: 0;
    }

    .timeline p {
        margin: 0;
    }

    .timeline-item::before {
        content: "";
        width: 2px;
        background-color: yellow;
        position: absolute;
        top: 20px;
        bottom: 0;
        left: 10px;
        margin-left: -1px;
    }
</style>
@await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")