    @section Scripts
{
    <script abp-src="/view-resources/Areas/AppAreaName/Views/Common/_DynamicEntityPropertyManager.js" asp-append-version="true"></script>
    <script abp-src="/view-resources/Areas/AppAreaName/Views/_Bundles/user-list.js" asp-append-version="true"></script>
    <script abp-src="/view-resources/Areas/AppAreaName/Views/Agents/Index.js" asp-append-version="true"></script>
}

@section Styles
    {
    <link rel="stylesheet" abp-href="/view-resources/Areas/AppAreaName/Views/Common/_PartialCardView.css" asp-append-version="true" />
    <link rel="stylesheet" abp-href="/view-resources/Areas/AppAreaName/Views/Partners/InformationDetails/_OtherInformationDetails.css" asp-append-version="true" />
    <link rel="stylesheet" abp-href="/view-resources/Areas/AppAreaName/Views/Users/index.css" asp-append-version="true" />
      <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.3/css/intlTelInput.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.3/js/intlTelInput.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.3/js/utils.min.js"></script>
    }
 


       
    <div class="row mt-5">
    <div class="col">
        <span class="tittle ml-4">ADD NEW Agents</span>
    </div>
    <div class="col text-end mr-4">
@*       <button id="CreateNewProductTypeButton" class="btn btn-white btn-outline btn-sm"><i class="fas fa-arrow-left"></i> @L("PartnerList")</button> *@
<a href="\AppAreaName\Agents\Index" class="btn btn-primary blue"><i class="fa fa-arrow-left"></i> @L("AgentList")</a>                           
@* <a href="@Url.Action("Index", "Partners", new { area = "AppAreaName" })" class="btn btn-Primary btn-outline">  <i class="fas fa-arrow-left"></i>PartnerList</a> *@
    </div>
</div>
 
    <span class="text-muted me-4 ml-4 mt-1">(Agents Headers info)</span>
<div class="card maincard mt-4">
    <div class="card-body ">
        
         <span class="text-muted me-4"><span class="text-danger">*</span> Fields are Mandatory</span>


        <div class="accordion accordion-flush" id="accordionFlushExample" >
             <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button custom-button" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        Agent Type
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse "@*  data-bs-parent="#accordionFlushExample" *@>
                   
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group ">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="row">
<div class="col-12 mt-3 ml-2">
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="checkbox1">
        <label class="form-check-label" for="checkbox1">
            Super Agent
        </label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="checkbox2">
        <label class="form-check-label" for="checkbox2">
            Sub Agent
        </label>
    </div>
</div>


                                                     
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                         <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button custom-button" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        Agent Structure
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse "@*  data-bs-parent="#accordionFlushExample" *@>
                   
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group ">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="row">
<div class="col-12 mt-3 ml-2">
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="radioGroup" id="radio1" value="option1">
        <label class="form-check-label" for="radio1">
            Individual 1
        </label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="radioGroup" id="radio2" value="option2">
        <label class="form-check-label" for="radio2">
           Bussiness
        </label>
    </div>
</div>



                                                     
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header ">
                 
                    <button class="accordion-button toggle-button" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne" >
    PRIMARY INFORMATION
     </button>

                </h2>
                <div id="flush-collapseOne" class="accordion-collapse " @* data-bs-parent="#accordionFlushExample" *@>
                    <div class="accordion-body hv-1 h-75">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group ">
                                    <div class="row">
@* <div class="col-md-2" >
    <div class="rounded-circle border border-dotted border-secondary position-relative overflow-hidden" style="margin-top: 20px;"> <!-- Adjust the margin-top value -->
        <img src="~/Common/Images/upload-image.png" width="160" height="150" class="img-thumbnail img-rounded user-edit-dialog-profile-image" />
    </div>
</div> *@
@* <div  class="col-md-4 d-flex flex-column align-items-center">
<img src="~/Common/Images/default-profile-picture.png" alt="Avatar"style="height: 120px;">
     </div>     *@        
          <div class="col-md-4 text-center margin-top-15">
                       
                        
                            <img src="@Url.Content($"{ApplicationPath}Common/Images/default-profile-picture.png")" width="128" height="128" class="img-thumbnail img-rounded user-edit-dialog-profile-image"/>
                        
                         
                        
                            @* <button class="btn btn-light btn-sm mb-5" id="changeProfilePicture">@L("ChangeProfilePicture")</button> *@
                          <br />   <span class="btn btn-white btn-outline btn-sm  me-1 rounded-0 fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Add upload Picture ...</span>
            <!-- The file input field used as target for the file upload widget -->
            <input id="fileupload" type="file" name="files">
        </span>
                        
                    </div>

                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <div class="row">
                                                     <div class="col-md-6 mb-3"id="field1">
                                                        <label for="partnerName" class="form-label">Full Name</label>
                                                        <input type="text" class="form-control custom-small-input rounded-0" id="partnerName" name="partnerName">
                                                    </div>
                                                    <div class="col-md-6 mb-3" id="field2">
                                                        <label for="partnerName" class="form-label">Bussiness Name</label>
                                                        <input type="text" class="form-control custom-small-input rounded-0" id="partnerName" name="partnerName">
                                                    </div>
                                                    <div class="col-md-6 mb-3"id="field3">
                                                        <label for="partnerName" class="form-label">Primary Contact Name</label>
                                                        <input type="text" class="form-control custom-small-input rounded-0" id="partnerName" name="partnerName">
                                                    </div>
                                                    <div class="col-md-6 mb-3" id="field4">
                                                        <label for="businessRegistrationNumber" class="form-label">Tax Number</label>
                                                        <input type="text" class="form-control custom-small-input rounded-0" id="businessRegistrationNumber" name="businessRegistrationNumber">
                                                    </div>
                                                    <div class="col-md-6 mb-3" id="field5">
                                                       
                                                        <label class="form-label fw-bold text-dark" for="Client_Name">@L("Contact Expiray Date")</label>

                                                        <div id="SampleDatePicker" class="input-group">
                                                            <input type="datetime" name="SampleDatePicker" class="form-control form-control-sm rounded-0 custom-select-input date-picker">
                                                        </div>
                                                   
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        Address
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse " @* data-bs-parent="#accordionFlushExample" *@>
                    <div class="accordion-body ">
                        <div class="row hv-1 h-75">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="my-3 col-4">
                                                        <label for="Street" class="form-label">Street</label>
                                                        <input type="text" class="form-control custom-small-input rounded-0" id="Street" name="Street">
                                                    </div>
                                                    <div class="my-3 col-4">
                                                        <label for="City" class="form-label">City</label>
                                                        <input type="text" class="form-control custom-small-input  rounded-0" id="City" name="City">
                                                    </div>
                                                    <div class="my-3 col-4">
                                                        <label for="State" class="form-label"> State</label>
                                                        <input type="text" class="form-control custom-small-input  rounded-0" id="State" name="State">
                                                    </div>
                                                    <div class="my-3 col-4">
                                                        <label for="Zip" class="form-label">Zip/Post Code</label>
                                                        <input type="text" class="form-control custom-small-input  rounded-0" id="Zip" name="Zip">
                                                    </div>
                                                    <div class="my-3 col-4">
                                                        <label for="Country" class="form-label">Country</label>
                                                       <select id="Countryddl" class="form-select select2" data-control="select2">
                                                            <option value="Category">Country 1</option>
                                                            <option value="Category">Country 2</option>
                                                            </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button custom-button" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        Contact Details
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse "@*  data-bs-parent="#accordionFlushExample" *@>
                   
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group ">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="row">
                                                   @*  <div class="col-md-4 mb-3">
                                                        <label for="Phone" class="form-label">Phone</label>
                                                        <input type="number" class="form-control custom-small-input" id="Phone" name="Phone">
                                                    </div> *@
                                                      
                                            <div class="col-md-4 mb-3" style="display: flex; flex-direction: column;">
                                                <label for="Phone" class="form-label">Phone</label>
                                                <input type="tel" class="form-control custom-small-input  rounded-0" id="phone" name="Phone">
                                            </div>


                                                    <div class="col-md-4 mb-3">
                                                        <label for="Email" class="form-label">Email</label>
                                                        <input type="email" class="form-control custom-small-input  rounded-0" id="Email" name="Email">
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>@* 
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                        Branch
                    </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse " data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group text-center">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <button class="btn btn-primary">Add Branch</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> *@
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                   OFFICE AND INCOME SHARING DETAILS
                    </button>
                </h2>
                <div id="flush-collapseFive" class="accordion-collapse " @* data-bs-parent="#accordionFlushExample" *@>
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group ">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="row">
                                                   <div class="col-md-4 mb-3">
                                                        <label for="partnerType" class="form-label">Related Office</label>
                                                        <select id="Partnerddl" class="form-select select2   rounded-0" data-control="select2">
                                                            <option value="Category">Lahore office </option>
                                                            <option value="Category">india office</option>
                                                            </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-3">
                <button class="btn btn-primary" type="submit">Save</button>
                <button class="btn btn-primary" type="submit">Save And New</button>
            </div>
        </div>

    </div>
</div>



  <!-- CSS -->

  <!-- JS -->


 



    <script>
        var input = document.querySelector("#phone");
        var iti = intlTelInput(input, {
          initialCountry: "auto",
          geoIpLookup: function (success, failure) {
            // Simulate a successful IP lookup to set the initial country
            var countryCode = "PK"; // Replace with the appropriate country code
            success(countryCode);
          },
        });

        // Manually set the phone number and selected country code (e.g., "US")
        var savedPhoneNumber = "+1 123-456-7890"; // Replace with your saved phone number
        var selectedCountry = "PK"; // Replace with the appropriate country code

        // Set the phone number value and selected country
        input.value = savedPhoneNumber;
        iti.setCountry(selectedCountry);

        // Change the flag and title based on a condition
        var condition = true; // Change this to your condition

        // Get the element by its class name
        var flagElement = document.querySelector(".iti__selected-flag");

        if (condition) {
            // Change the title attribute
            flagElement.setAttribute("title", "New Title: +XX"); // Replace "New Title" and "+XX" with your desired values

            // Change the flag by adding a new class (replace iti__us with iti__pk for Pakistan)
            flagElement.querySelector(".iti__flag").className = "iti__flag iti__pk";
        }
    </script>



