@using Zeta.AgentosCRM.Authorization
@using Zeta.AgentosCRM.Web.Areas.AppAreaName.Startup



<div class="Main mt-1 mb-3">
    <div class="row">
        <div class="col-md-3">
            <div class="card h-100 text-center">
                <div class="card-body p-1">
                    <h5 class="card-title">IN PROGRESS</h5>
                    <p class="card-text">0</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-100 text-center">
                <div class="card-body p-1">
                    <h5 class="card-title">COMPLETED</h5>
                    <p class="card-text">0</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-100 text-center">
                <div class="card-body p-1">
                    <h5 class="card-title">DISCONTINUED</h5>
                    <p class="card-text">0</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-100 text-center">
                <div class="card-body p-1">
                    <h5 class="card-title">ENROLLED</h5>
                    <p class="card-text">0</p>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="card">

        <div class="card-body">
            <div class="form">
                <div class="fixed-width-div">
                    <div style="overflow-x: auto;">
                    </div>
                    <div class="row align-items-center">
                        <table id="ApplicationTable" class="table align-middle fs-8 gy-2 dataTable no-footer ">
                            <thead class="thead gy-5">

                                <tr>
                                    <th></th>
                                    <th>@L("Actions")</th>
                                    <th>@L("Client Name")</th>
                                    <th>@L("ASSIGNEE")</th>
                                    <th>@L("PRODUCT NAME")</th>
                                    <th>@L("WORKFLOW")</th>
                                    <th>@L("CURRENT STAGE")</th>
                                    <th>@L("STATUS")</th>
                                    <th>@L("ADDED ON")</th>
                                </tr>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td>
                                        <a href="@Url.Action("AddApplicationForm", "Partners", new { area = "AppAreaName" })" class="btn btn-sm btn-primary">View</a>
                                    </td>
                                    <td>

                                        Australian Education with VISA
                                    </td>
                                    <td>

                                        West Melbourne
                                    </td>
                                    <td>
                                        Institution
                                    </td>
                                    <td>
                                        0
                                    </td>
                                    <td>
                                        0
                                    </td>
                                    <td>
                                        0
                                    </td>
                                    <td>
                                        admissions@aahe.edu.au
                                    </td>
                                </tr>
                            
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
@* 
    <div class="maincard">
        <div class="col-md-12 text-end mb-3">

          </div>
        <div class="card card-custom gutter-b">

            <div class="card-body ">

              


                <div class="row align-items-center">
                    <table id="ApplicationTable" class="table align-middle  fs-8 gy-2 dataTable no-footer">
                        <thead>
                            <tr>
                                <th></th>
                                <th>@L("Actions")</th>
                                <th>@L("Abbrivation")</th>
                                <th>@L("Name")</th>
                                <th>@L("Email")</th>
                                <th>@L("Email")</th>
                                <th>@L("Email")</th>
                                <th>@L("Email")</th>
                            </tr>
                        </thead>
                    </table>
                </div>

            </div>
        </div>

    </div> *@
</div>



