@using System.Globalization
@using Abp.Application.Services.Dto;
@using Zeta.AgentosCRM.Web.Areas.AppAreaName.Models.Common.Modals
@using Abp.Extensions
@using Zeta.AgentosCRM.Web.Areas.AppAreaName.Models.Appointments
@model CreateOrEditAppointmentsViewModel
@await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditAppointment")) : L("CreateNewAppointment")))

<div class="modal-body">
    <div id="InformationsForm">
        <form name="AppointmentInformationsForm" role="form" novalidate class="form-validation">
            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.Appointment.Id" />
            }
            <input type="hidden" name="clientId" id="ClientId" />
            <input type="hidden" name="AddedById" id="AddedById" value="@AbpSession.UserId" /> 
    <div class="row">
        <div class="col-6">
            <label class="fw-bold">Related to:</label>
            <br/>
            <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" id="relatedTo1" name="relatedTo" value="Option 1" disabled>
                <label class="form-check-label" for="relatedTo1" >Client</label>
            </div>
            <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" id="relatedTo2" name="relatedTo" value="Option 2" disabled>
                <label class="form-check-label" for="relatedTo2" >Partner</label>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label class="fw-bold">Added by:</label>
                        <p>Sahar Aussie ASEAN</p>
            </div>
        </div>
    </div>

            <div class="my-3">
                <label class="form-label" for="Applointment_ClietName">@L("ClietName")</label>
                <input class="form-control form-control-sm rounded-0 custom-select-input" id="Applointment_ClietName" value="" type="text" name="clietName" required />
            </div>

            <div class="my-3">
                <label class="form-label" for="Applointment_TimeZone">@L("TimeZone")</label>
                @if (Model.TimezoneItems != null && Model.TimezoneItems.Any())
                {

                    @Html.DropDownList("Timezone",Model.TimezoneItems.Select(i =>new SelectListItem{Value = i.Value,Text = i.DisplayText, Selected = Model.IsEditMode && i.Value == Model.Appointment.TimeZone}),@L("SelectATimeZone"), new { @class = "form-select", id = "Timezone" })
                }
                else
                {
                    <p>No timezones available</p>
                }
                
            </div>
    
            <div class="row col-12">
            <div class="my-3 col-9">
                    <label class="form-label fw-bold text-dark" for="Applointment_Date">@L("Date")</label>
                    <input class="form-control form-control-sm rounded-0 custom-select-input date-picker" id="Applointment_Date" value="@Model.Appointment.AppointmentDate" type="datetime" name="AppointmentDate" required />
            </div>
               
            <div class="my-3 col-3">
                    <label class="form-label" for="Applointment_Time">@L("Time")</label>
                    <input class="form-control form-control-sm rounded-0 custom-select-input" id="AppointmentTime" type="time" name="AppointmentTime" value="@Model.Appointment.AppointmentTime.ToString("HH:mm")" />
                </div>
              
            </div>
            <div class="row col-12">
          

            <div class="my-3">
                    <label class="form-label" for="Applointment_Tittle">@L("Tittle")</label>
                    <input class="form-control form-control-sm rounded-0 custom-select-input" id="Applointment_Tittle" value="@Model.Appointment.Title" type="text" name="Title" required />
            </div> 
            <div class="my-3">
                    <label class="form-label" for="Applointment_Description">@L("Description")</label>
                    <input class="form-control form-control-sm rounded-0 custom-select-input" id="Applointment_Tittle" value="@Model.Appointment.Description" type="text" name="Description" required />
                    @* <textarea class="form-control form-control-sm" id="Applointment_Description" value="@Model.Appointment.Description" name="Description" required></textarea> *@
            </div>

                
                <div class="my-3">
                    <label class="form-label" for="applointment_Invitees">@L("Invitees")</label>
                    <select id="inviteesId" class="form-select select2" data-id="" data-control="select2"></select>
                   
            </div>
                @* <div class="my-3" hidden>
                    <label class="form-label" for="applointment_AddedBy">@L("AddedBy")</label>
                    <input class="form-control form-control-sm" id="AddedById" value="" type="text" name="AddedById" required />
                </div> *@
            </div>
        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")