
@using System.Globalization
@using Zeta.AgentosCRM.Web.Areas.AppAreaName.Models.Common.Modals
@using Zeta.AgentosCRM.Web.Areas.AppAreaName.Models.WorkflowDocument;
@using Abp.Extensions
@* @model  CreateOrEditDocumentCheckListHeadModalViewModel *@
 @* @{
ViewBag.CurrentPageName = AppAreaNamePageNames.Tenant.DocumentCheckListHead;
} *@
@section Scripts
    {
    @* <script abp-src="/view-resources/Areas/AppAreaName/Views/DocumentCheckList/_CreateOrEidtModal.js" asp-append-version="true"></script> *@
    <script abp-src="/view-resources/Areas/AppAreaName/Views/DocumentCheckList/AddDocumentCheckList/AddNewCheckList.js" asp-append-version="true"></script>
    @* <script abp-src="/view-resources/Areas/AppAreaName/Views/DocumentCheckList/Index.js" asp-append-version="true"></script> *@

}
@section Styles
    {
    <link rel="stylesheet" abp-href="/view-resources/Areas/AppAreaName/Views/Common/_PartialCardView.css" asp-append-version="true" />
   }
@* <abp-page-subheader title='@L("AddNewcheckList")' description='@L("fields are mandatory")'>

</abp-page-subheader>
 *@
@await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("AddNewcheckList")))
<div class="modal-body">
    <div id="FeeTypeInformationsTab">
        <form name="FeeTypeInformationsForm" role="form" novalidate class="form-validation">

            <input type="hidden" name="id" />

            <div class="my-3">
                <label class="form-label" for="AddNewCheckListDocumentType">@L("DocumentType")</label>
                <select  class="form-control  custom-small-input rounded-0 input-sm" id="AddNewCheckListDocumentType" ></select> 
            </div>
            
            <div class="my-3"> 
                <input class="form-control  custom-small-input rounded-0 input-sm" id="workFlowStepModelId" value="" type="text" />
            </div>

            <div class="my-3">
                <label class="form-label" for="Description">@L("Description")</label>
                <input class="form-control  custom-small-input rounded-0 input-sm" id="Description" value="Description" type="text" name="Description" required />
            </div>
            <div class="my-3">
                <label class="form-label">@L("applyto")</label>
                <div class="col-12">
                    <div class="col-6">
                        <input type="radio" id="AllPartner" value="false" name="PartnerType" checked  />
                        <label class="form-label" for="AllPartner">@L("AllPartners")</label>

                        <input type="radio" id="selectedPartner" value="true" name="PartnerType"  />
                        <label class="form-label" for="selectedPartner">@L("selectedPartners")</label>
                    </div>
                </div>

            </div>
             <div class="my-3" id="DDlPartners">
                @* <label class="form-label" for="PartnerID">@L("Partner")</label> *@
                @* <select id="PartnerID" class="form-control"></select> *@
                <select id="PartnerID" class="form-select select2" data-id="" data-control="select2"></select>
                @* <input class="form-control" id="PartnerID" autocomplete="off" value="" type="text" /> *@
                    </div>
            <div class="my-3" id="RadioProducts">
                <div class="col-12">
                    <div class="col-6">
                        <input type="radio" id="AllProduct" value="false" name="ProductType" checked/>
                        <label class="form-label" for="AllProduct">@L("AllProducts")</label>

                        <input type="radio" id="selectedProduct" value="true" name="ProductType"  />
                        <label class="form-label" for="selectedProduct">@L("selectedProducts")</label>
                    </div>
                </div>

            </div>
            
             <div class="my-3" id="DDlProduct"> 
                <select id="ProductID" class="form-select select2" data-id="" data-control="select2"></select>
                @* <input class="form-control" id="Workflow_Name" autocomplete="off" value=" " type="text" name="name" required /> *@
                    </div>
            <div class="my-3">
                <div class="col-12">

                    <input type="checkbox" value="false" name="clientportal" id="clientportal" />
                    <label class="form-label" for="clientportal">@L("Uploaddocumentsfromclientportal")</label> <br />
                    <input type="checkbox" value="false" name="nextstage" id="nextstage" />
                    <label class="form-label" for="nextstage">@L("indoortoproceednextstage")</label>

                </div>

            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
 