

<div class="maincard">



    <div class="col-md-12">
        <!-- Card -->
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Education Background</h5>
                <div class="col-md-12 text-end mb-1">
                    <button id="AddEducationBackgroundButton" class="btn btn-sm btn-primary blue"><i class="fa fa-plus"></i> @L("Add")</button>
                </div>
                <hr>

                <div class="col-md-6">
                    <p class="card-text">Click Add button to fill eductaion background </p><br />

                </div>

                @*                    <hr>
                <div class="row">
                <div class="col-md-6">
                <p class="card-text">Start Date</p>
                </div>
                <div class="col-md-6">
                <p class="card-text">End Date</p>
                </div>
                </div>*@
            </div>
        </div>
    </div>
    <!-- Right Side (Button) -->

</div>

<div class="maincard mt-5">

    <div class="col-md-12">
        <!-- Card -->
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">English Test Score</h5>
                <div class="col-md-12 text-end mb-1">
                    <button id="AddEnglishTestScoreButton" class="btn btn-sm btn-primary blue"> @L("Edit")</button>
                </div>
                <hr>


                <div class="row align-items-center">
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-12">
                        <table id="EnglishTestScoretable" class="table align-middle  fs-8 gy-2 dataTable no-footer">
                            <thead>
                                <tr>
                                    <th></th>

                                    @* <th>@L("Action")</th>*@
                                    <th>@L("Listening")</th>
                                    <th>@L("Reading")</th>
                                    <th>@L("Writing")</th>
                                    <th>@L("Speaking")</th>
                                    <th>@L("OverAll")</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Toefl</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>
                                        <svg height="70" width="70">
                                            <circle cx="30" cy="30" r="20" stroke="#009ef7" stroke-width="2" fill="#009ef7" />
                                            <text x="30" y="35" text-anchor="middle" fill="white">-</text>
                                        </svg>
                                    </td>



                                </tr>
                                <tr>
                                    <td>IElts</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>
                                        <svg height="70" width="70">
                                            <circle cx="30" cy="30" r="20" stroke="#009ef7" stroke-width="2" fill="#009ef7" />
                                            <text x="30" y="35" text-anchor="middle" fill="white">-</text>
                                        </svg>
                                    </td>
                                </tr>
                                <tr>
                                    <td>PTE</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>
                <svg height="70" width="70">
                <circle cx="30" cy="30" r="20" stroke="#009ef7" stroke-width="2" fill="#009ef7" />
                 <text x="30" y="35" text-anchor="middle" fill="white">-</text>
                  </svg>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


                @*                    <hr>
                <div class="row">
                <div class="col-md-6">
                <p class="card-text">Start Date</p>
                </div>
                <div class="col-md-6">
                <p class="card-text">End Date</p>
                </div>
                </div>*@
            </div>
        </div>
    </div>
</div>

<div class="maincard mt-5">

    <div class="col-md-12">
        <!-- Card -->
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Other Test Score</h5>
                <div class="col-md-12 text-end mb-1">
                    <button id="AddOtherTestScoreButton" class="btn btn-sm btn-primary blue"> @L("Edit")</button>
                </div>
                <hr>


                <div class="row align-items-center">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-12">
                        <table id="OtherTestScoretable" class="table align-middle fs-6 gy-2 dataTable no-footer">
                            <thead>
                                <tr>
                                    <th></th>

                                    @* <th>@L("Action")</th>*@
                                    <th>@L("SATI")</th>
                                    <th>@L("SATII")</th>
                                    <th>@L("GRE")</th>
                                    <th>@L("GMAT")</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Overall Score</td>
                                    <td>
                                        <svg height="70" width="70">
                                            <circle cx="30" cy="30" r="20" stroke="#009ef7" stroke-width="2" fill="#009ef7" />
                                            <text x="30" y="35" text-anchor="middle" fill="white">-</text>
                                        </svg>
                                    </td>
                                    <td>
                                        <svg height="70" width="70">
                                            <circle cx="30" cy="30" r="20" stroke="#009ef7" stroke-width="2" fill="#009ef7" />
                                            <text x="30" y="35" text-anchor="middle" fill="white">-</text>
                                        </svg>
                                    </td>
                                     <td>
                                        <svg height="70" width="70">
                                            <circle cx="30" cy="30" r="20" stroke="#009ef7" stroke-width="2" fill="#009ef7" />
                                            <text x="30" y="35" text-anchor="middle" fill="white">-</text>
                                        </svg>
                                    </td>
                                     <td>
                                        <svg height="70" width="70">
                                            <circle cx="30" cy="30" r="20" stroke="#009ef7" stroke-width="2" fill="#009ef7" />
                                            <text x="30" y="35" text-anchor="middle" fill="white">-</text>
                                        </svg>
                                    </td>



                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


                @*                    <hr>
                <div class="row">
                <div class="col-md-6">
                <p class="card-text">Start Date</p>
                </div>
                <div class="col-md-6">
                <p class="card-text">End Date</p>
                </div>
                </div>*@
            </div>
        </div>
    </div>
</div>