@using System.Globalization
@using Zeta.AgentosCRM.Web.Areas.AppAreaName.Models.Common.Modals
@using Zeta.AgentosCRM.Web.Areas.AppAreaName.Models.ServiceCategory
@model CreateOrEditServiceCategoryModalViewModel
@using Abp.Extensions
@await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditServiceCategory")) : L("CreateNewServiceCategory")))

<div class="modal-body">
    <div id="ServiceCategoryInformationsTab">
        <form name="ServiceCategoryInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.ServiceCategory.Id" />
            }
            <div class="my-3">
                <label class="form-label" for="ServiceCategory_Abbrivation">@L("Abbrivation")</label>
                <input class="form-control  custom-small-input rounded-0 input-sm" id="ServiceCategory_Abbrivation" value="@Model.ServiceCategory.Abbrivation" type="text" name="abbrivation" required maxlength="@Zeta.AgentosCRM.CRMSetup.ServiceCategory.ServiceCategoryConsts.MaxAbbrivationLength" minlength="@Zeta.AgentosCRM.CRMSetup.ServiceCategory.ServiceCategoryConsts.MinAbbrivationLength" />
            </div>

            <div class="my-3">
                <label class="form-label" for="ServiceCategory_Name">@L("Name")</label>
                <input class="form-control  custom-small-input rounded-0 input-sm" id="ServiceCategory_Name" value="@Model.ServiceCategory.Name" type="text" name="name" required maxlength="@Zeta.AgentosCRM.CRMSetup.ServiceCategory.ServiceCategoryConsts.MaxNameLength" minlength="@Zeta.AgentosCRM.CRMSetup.ServiceCategory.ServiceCategoryConsts.MinNameLength" />
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")