
@using System.Globalization
@using Zeta.AgentosCRM.Web.Areas.AppAreaName.Models.Common.Modals
@using Zeta.AgentosCRM.Web.Areas.AppAreaName.Models.Tag
@model CreateOrEditTagModalViewModel
@using Abp.Extensions
@await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditTags")) : L("CreateNewTags")))

<div class="modal-body">
    <div id="TagInformationsTab">
        <form name="TagInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.Tag.Id" />
            }
            <div class="my-3">
                <label class="form-label" for="Tag_Abbrivation">@L("Abbrivation")</label>
                <input class="form-control" id="Tag_Abbrivation" value="@Model.Tag.Abbrivation" type="text" name="abbrivation" required maxlength="@Zeta.AgentosCRM.CRMSetup.Tag.TagConsts.MaxAbbrivationLength" minlength="@Zeta.AgentosCRM.CRMSetup.MasterCategoryConsts.MinAbbrivationLength" />
            </div>

            <div class="my-3">
                <label class="form-label" for="Tag_Name">@L("Name")</label>
                <input class="form-control" id="Tag_Name" value="@Model.Tag.Name" type="text" name="name" required maxlength="@Zeta.AgentosCRM.CRMSetup.Tag.TagConsts.MaxNameLength" minlength="@Zeta.AgentosCRM.CRMSetup.MasterCategoryConsts.MinNameLength" />
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")