@* <style>
    .dataTables tbody tr {
        min-height: 35px;
    }
</style> *@
@section Scripts
    {

    <script abp-src="/view-resources/Areas/AppAreaName/Views/Partners/Products/Products.js" asp-append-version="true"></script>

}

<div class="maincard mt-3">
    <div class="col-md-12 text-end mb-3 ">

        <button id="CreateNewProductsButton" class="btn  btn-sm btnclose btn-outline text-white rounded-0"><i class="fa fa-plus text-white"></i> @L("AddProducts")</button>
    </div>

    <div class="card">

        <div class="card-body">
            <div class="form">
                <div class="fixed-width-div">
                    <div style="overflow-x: auto;">
                    </div>
                    <div class="row align-items-center">
                        <table id="ProductsTable" class="table align-middle  fs-8 gy-2 dataTable no-footer">
                            <thead>
                                <tr>
                                    <th></th>

                                    <th>@L("Name")</th>
                                    <th>@L("AssociatedPartner")</th>
                                    <th>@L("ProductType")</th>
                                    <th>@L("Branch")</th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


