@using System.Globalization
@using Zeta.AgentosCRM.Web.Areas.AppAreaName.Models.Common.Modals
@using Zeta.AgentosCRM.Web.Areas.AppAreaName.Models
@using Zeta.AgentosCRM.Authorization
@using Zeta.AgentosCRM.Web.Areas.AppAreaName.Models.Clients
@using Zeta.AgentosCRM.Web.Areas.AppAreaName.Startup
@model CreateOrEditClientTagViewModel
@section Styles
   { 
    <link rel="stylesheet" abp-href="/view-resources/Areas/AppAreaName/Views/Common/_PartialCardView.css" asp-append-version="true" />
   }
    @section Scripts
{
<script abp-src="/view-resources/Areas/AppAreaName/Views/Clients/_ClientProfileDetail.js" asp-append-version="true"></script>
}
@await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Create Tags")))


<div class="modal-body">
    <div id="InformationsForm">
        <form name="ClientTagsInformationsForm" role="form" novalidate class="form-validation">
            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" id="ClientTagID" val="@Model.ClientTag.Id"/>
            }


            <input type="hidden" name="clientId" id="ClientId" />

           @*  <div class="my-3 col-12">
                <label class="form-label fw-bold text-dark" for="tags">@L("Tags")</label>
                @Html.DropDownList("TagId", new SelectList(Model.ClientTagList,"Id","DisplayName", (Model.IsEditMode ? Model.ClientTag.ClientId.ToString() : "")),@L("SelectATag"), new { @class = "form-control"  , @required="required" })
            </div> *@

            <div class="my-3 col-12">
                <label class="form-label fw-bold text-dark" for="tags">@L("Tags")</label>
               
                @Html.DropDownList("TagId", new SelectList(Model.ClientTagList, "Id", "DisplayName", (Model.IsEditMode ? Model.ClientTag.ClientId.ToString() : "")), @L("SelectATag"), new { @class = "form-control", @required = "required" })
            </div>
            
           
        </form>
    </div>
  </div>

@await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")