@using Zeta.AgentosCRM.Authorization
@using Zeta.AgentosCRM.Web.Areas.AppAreaName.Models.Clients
@using Zeta.AgentosCRM.Web.Areas.AppAreaName.Startup
@model ClientsViewModel
@{
    ViewBag.CurrentPageName = AppAreaNamePageNames.Tenant.Clients;
}
@section Styles
	{
	<link rel="stylesheet" abp-href="/view-resources/Areas/AppAreaName/Views/Common/_PartialCardView.css" asp-append-version="true" />
	 <link rel="stylesheet" abp-href="/view-resources/Areas/AppAreaName/Views/_Bundles/demo-ui-components.css" asp-append-version="true" />
   }
@section Scripts
{
    <script abp-src="/view-resources/Areas/AppAreaName/Views/Clients/Index.js" asp-append-version="true"></script>
	<script abp-src="/view-resources/Areas/AppAreaName/Views/_Bundles/demo-ui-components.js" asp-append-version="true"></script>
}



                <abp-page-subheader title='@L("Clients")' description='@L("ClientsHeaderInfo")'>
                     @* <button id="ExportToExcelButton" class="btn btn-outline btn-sm btn-white text-black rounded-0 me-1"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button> *@
    <button id="SendMail" class="btn btn-success border  btn-white btn-outline btn-sm btnSmsMail me-1 rounded-0" hidden>@* <i class="fa-regular fa-envelope"></i> *@<i style="font-size:18px" class="fa">&#xf0e0;</i> @L("SendMail")</button>
    <button id="SendBulkSMS" class="btn btn-success border btn-white btn-outline btn-sm btnSmsMail me-1 rounded-0" hidden><i style='font-size:18px' class='fas'>&#xf4ad;</i> @L("SendBulkSMS")</button>
    <button id="ChangeAssignee" class="btn btn-success btn-white btn-outline btn-sm btnSmsMail me-1 rounded-0" hidden> @L("ChangeAssignee")</button>
    
     <button id="ExportToExcelButton" hidden class="btn btn-white btn-outline btn-sm  me-1 rounded-0"><i class="fa fa-file-excel text-success"></i> @L("ExportToExcel")</button>
     
                     @if (IsGranted(AppPermissions.Pages_Clients_Create))
                     {
        @* <button id="CreateNewClientButton" class="btn btn-white btn-sm btn-outline text-black rounded-0"><i class="fa fa-plus"></i> @L("CreateNewCient")</button> *@

                         <a href="\AppAreaName\Clients\ClientCreateDetail" class="btn btn-white btn-sm btn-outline text-black rounded-0"><i class="fa fa-plus"></i> @L("CreateNewClient")</a>                
                     }
                </abp-page-subheader>
            
<div class="@(await GetContainerClass())">   
    <div class="card card-custom gutter-b">
        <div class="card-body">
            <div class="form">
                <div class="row align-items-center mb-4">
                    <div class="col-xl-12">                        
                        
                        
                <div class="my-3">
                    <div class="input-group">
                        <input type="text" id="ClientsTableFilter" class="form-control form-control-sm  reload-on-change" placeholder='@L("SearchWithThreeDot")' value="@Model.FilterText">
                        <button id="GetClientsButton" class="btn btn-sm rounded-0 btnsearch" type="submit"><i class="flaticon-search-1"></i></button>                        
                        <input type="hidden" id="GetEmail" class="form-control form-control-sm">            
                    </div>
                </div>
            
                    </div>
                </div>
			</div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">
						
					</div>


							<div class="col-md-3" hidden >
								<div class="my-3">
                        <label class="form-label fw-bold text-dark" for="TabValues">@L("TabValues")</label>
									<input type="text" class="form-control custom-small-input rounded-0 input-sm reload-on-keyup" name="TabValues" id="TabValues" value="0">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="my-3">
									<label class="form-label fw-bold text-dark" for="FirstNameFilterId">@L("FirstName")</label>
									<input type="text" class="form-control custom-small-input rounded-0 input-sm reload-on-keyup" name="firstNameFilter" id="FirstNameFilterId">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="my-3">
									<label class="form-label fw-bold text-dark" for="LastNameFilterId">@L("LastName")</label>
									<input type="text" class="form-control custom-small-input rounded-0 input-sm reload-on-keyup" name="lastNameFilter" id="LastNameFilterId">
								</div>
                            </div>
							<div class="col-md-3" hidden>
								<div class="my-3">
									<label class="form-label fw-bold text-dark" for="EmailFilterId">@L("Email")</label>
									<input type="text" class="form-control custom-small-input rounded-0 input-sm reload-on-keyup" name="emailFilter" id="EmailFilterId">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="my-3">
									<label class="form-label fw-bold text-dark" for="PhoneNoFilterId">@L("PhoneNo")</label>
									<input type="text" class="form-control custom-small-input rounded-0 input-sm reload-on-keyup" name="phoneNoFilter" id="PhoneNoFilterId">
								</div>
                            </div>
                            <div class="col-md-3" hidden>
                                    <div class="my-3">
										<label class="form-label fw-bold text-dark" for="MinDateofBirthFilterId">@L("DateofBirthRange")</label>
										<div class="input-group">
											<input class="form-control custom-small-input rounded-0 input-sm reload-on-keyup m-input date-picker startDate" type="text" placeholder="@L("MinValue")"  id="MinDateofBirthFilterId">
											<span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
							<input class="form-control custom-small-input rounded-0 input-sm reload-on-keyup m-input date-picker endDate" type="text" placeholder="@L("MaxValue")" id="MaxDateofBirthFilterId">
										</div>
									</div>
                            </div>
							<div class="col-md-3" hidden>
								<div class="my-3">
									<label class="form-label fw-bold text-dark" for="UniversityFilterId">@L("University")</label>
									<input type="text" class="form-control custom-small-input rounded-0 input-sm reload-on-keyup" name="universityFilter" id="UniversityFilterId">
								</div>
                            </div>
                            <div class="col-md-3" hidden>
                                 <div class="my-3">
									<label class="form-label fw-bold text-dark" for="MinRatingFilterId">(@L("MinMax")) @L("Rating")</label>
									<div class="input-group">
										<input type="number" class="form-control custom-small-input rounded-0 input-sm reload-on-keyup" placeholder="@L("MinValue")" name="minRatingFilter" id="MinRatingFilterId"/>
                                        <input type="number" class="form-control custom-small-input rounded-0 input-sm reload-on-keyup" placeholder="@L("MaxValue")" name="maxRatingFilter"  id="MaxRatingFilterId"/>
									</div>
                                </div>
                            </div>


							<div class="col-md-3" hidden>
								<div class="my-3">
									<label class="form-label fw-bold text-dark" for="CountryDisplayPropertyFilterId">(@L("Country")) @L("DisplayProperty")</label>
									<input type="text" class="form-control custom-small-input rounded-0 input-sm reload-on-keyup" name="countryDisplayPropertyFilter" id="CountryDisplayPropertyFilterId">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="my-3">
									<label class="form-label fw-bold text-dark" for="UserNameFilterId">(@L("User")) @L("Name")</label>
									<input type="text" class="form-control custom-small-input rounded-0 input-sm reload-on-keyup" name="userNameFilter" id="UserNameFilterId">
								</div>
                            </div>
							<div class="col-md-3" hidden>
								<div class="my-3">
									<label class="form-label fw-bold text-dark" for="BinaryObjectDescriptionFilterId">(@L("BinaryObject")) @L("Description")</label>
									<input type="text" class="form-control custom-small-input rounded-0 input-sm reload-on-keyup" name="binaryObjectDescriptionFilter" id="BinaryObjectDescriptionFilterId">
								</div>
                            </div>
							<div class="col-md-3" hidden>
								<div class="my-3">
									<label class="form-label fw-bold text-dark" for="DegreeLevelNameFilterId">(@L("DegreeLevel")) @L("Name")</label>
									<input type="text" class="form-control custom-small-input rounded-0 input-sm reload-on-keyup" name="degreeLevelNameFilter" id="DegreeLevelNameFilterId">
								</div>
                            </div>
							<div class="col-md-3" hidden>
								<div class="my-3">
									<label class="form-label fw-bold text-dark" for="SubjectAreaNameFilterId">(@L("SubjectArea")) @L("Name")</label>
									<input type="text" class="form-control custom-small-input rounded-0 input-sm reload-on-keyup" name="subjectAreaNameFilter" id="SubjectAreaNameFilterId">
								</div>
                            </div>
							<div class="col-md-3" hidden>
								<div class="my-3">
									<label class="form-label fw-bold text-dark" for="LeadSourceNameFilterId">(@L("LeadSource")) @L("Name")</label>
									<input type="text" class="form-control custom-small-input rounded-0 input-sm reload-on-keyup" name="leadSourceNameFilter" id="LeadSourceNameFilterId">
								</div>
                            </div>

							<div class="col-md-3">
								<div class="my-3">
									<label class="form-label fw-bold text-dark" for="CountryName3FilterId">(@L("Country")) @L("Name")</label>
						<input type="text" class="form-control custom-small-input rounded-0 input-sm reload-on-keyup" name="countryName3Filter" id="CountryName3FilterId">
								</div>
                            </div>
                    <div class="col-md-12 mt-5">
                        <button class="btn btn-secondary btn-sm" id="btn-reset-filters">Reset</button>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div> 

        <div class="card navbar-link-card-Tab-height pt-1 pr-1 pl-2 d-flex">
                    <div class="card-Head CardTab">
                <div class="d-flex h-30px navbar-link-card-Allign">
                <ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bolder ml-3 pl-2" id="tabs">
                    <li class="nav-item">
                            <a href="#ActivitiesTab" id="Prospects" data-bs-toggle="tab" role="tab" class="nav-link navbar-link-item-card-font active" aria-selected="true">
                            @L("Prospects")
                        </a>
                    </li>
                    <li class="nav-item">
                            <a href="#ApplicationTab" id="clients" data-bs-toggle="tab" role="tab" class="nav-link navbar-link-item-card-font " >
                            @L("Clients")
                        </a>
                    </li>
                    
                    <li class="nav-item">
                            <a href="#ApplicationTab" id="Archived" data-bs-toggle="tab" role="tab" class="nav-link navbar-link-item-card-font " >
                            @L("Archived")
                        </a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
 
@* <div>
    <div class="tab-content ">
            <div class="tab-pane pt-5 mb-7 active" id="ActivitiesTab" role="tabpanel">
            <div class="list-group">
                @await Html.PartialAsync("~/Areas/AppAreaName/Views/Clients/Activites/Activity.cshtml")
            </div>
        </div>
            
    </div>
</div> *@
            <div class="row align-items-center">
                <table id="ClientsTable" class="table align-middle  fs-8 gy-2 dataTable no-footer">
                    <thead class="thead gy-7">
                        <tr>
							   <th class="align-middle" style="padding:2px"></th>
                                <th><input id="SelectAllCheckBox" type="checkbox"></th>
            <th >@L("Name")</th>
            <th >@L("Tagname")</th>
            <th >@L("Phone")</th>
			<th>@L("currentcity")</th>
            <th>@L("Assignee")</th>
            <th >@L("Followers")</th>
            <th>@L("Status")</th>
            <th>@L("Application")</th>
            <th>@L("LastUpdate")</th>
            @* <th>@L("State")</th> *@
            <th></th>
                            @* 
                            <th>@L("Actions")</th>
								<th>@L("FirstName")</th>
								<th>@L("LastName")</th>
								<th>@L("Email")</th>
								<th>@L("PhoneNo")</th>
								<th>@L("DateofBirth")</th>
								<th>@L("ContactPreferences")</th>
								<th>@L("University")</th>
								<th>@L("Street")</th>
								<th>@L("City")</th>
								<th>@L("State")</th>
								<th>@L("ZipCode")</th>
								<th>@L("PreferedIntake")</th>
								<th>@L("PassportNo")</th>
								<th>@L("VisaType")</th>
								<th>@L("VisaExpiryDate")</th>
								<th>@L("Rating")</th>
								<th>@L("ClientPortal")</th>
								<th>@L("CountryDisplayProperty")</th>
								<th>@L("UserName")</th>
								<th>@L("BinaryObjectDescription")</th>
								<th>@L("DegreeLevelName")</th>
								<th>@L("SubjectAreaName")</th>
								<th>@L("LeadSourceName")</th>
								<th>@L("CountryName")</th>
								<th>@L("CountryName")</th>     *@                        
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
  </div>
